<script type="text/template" class="template-color-slide">


<% _.each( color.color, function( color ){ %> 
<div class="vertical-alignment-helper">
  <div class="modal-dialog modal-lg vertical-align-center" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <div class="header-container">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel"><%- color.fields.name %></h4>  
        </div>
      </div>
      <div class="contenedor">
        <div class="modal-body">
          <div class="row text-center" style="margin-bottom: 2rem;">
            <div class="col-md-12">
                <img src="/media/<%- color.fields.image %>" alt="<%- color.fields.name %>" class="img-responsive">
            </div>
          </div>
        <div class="row">
          <div class="col-md-12 "><%- color.fields.description %></div>
        </div>
      </div>
      </div>
      <div class="modal-footer text-left">
        <div class="footer-container">
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Include in configuration</button>
        </div>
        </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
    </div><!-- /.vertical -->
  </div><!-- /.modal-dialog -->
<% }); %> 


</script>