<script type="text/template" class="template-product-slide">



<div class="vertical-alignment-helper">
  <div class="modal-dialog modal-lg vertical-align-center" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <% _.each( data.product.product, function( product ){ %> 
        <div class="header-container">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel"><%- product.fields.name %></h4>  
        </div>
      </div>
      <div class="contenedor">
        <div class="modal-body">
          <div class="row text-center" style="margin-bottom: 2rem;">
            <div class="col-md-12">
              <img src="/media/<%- product.fields.image %>" alt="" class="img-responsive">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 "><%- product.fields.description %></div>


          </div>
        </div>
      </div>

      <div class="modal-footer text-left btn-product">
        <% if (data.check == 1){ %>
        <div class="footer-container selected">
            <button type="button" class="btn btn-default switch btn-included"  data-id="<%- product.pk %>"><span class="glyphicon glyphicon-ok"></span>Included in selection</button>
            <button type="button" class="btn btn-primary switch btn-add" data-id="<%- product.pk %>">{# <span class="glyphicon glyphicon-ok selected"></span> #} <span class="glyphicon glyphicon-menu-right"></span>Add to selection</button>
        </div>

        <%}else if(data.check == 0){%>
        <div class="footer-container">
          <button type="button" class="btn btn-default switch btn-included"  data-id="<%- product.pk %>"><span class="glyphicon glyphicon-ok "></span>Include in selection</button>
            <button type="button" class="btn btn-primary switch btn-add" style="display:block" data-id="<%- product.pk %>">{# <span class="glyphicon glyphicon-ok selected"></span> #} <span class="glyphicon glyphicon-menu-right"></span>Add to selection</button>
            </div>
            <% } %>
          </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  <% }); %> 


</script>