<script type="text/template" class="template-product-slide">



<div class="vertical-alignment-helper">
  <div class="modal-dialog modal-lg vertical-align-center" role="document">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <% _.each(product.product, function( product ){ %> 
        <div class="header-container">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel"><%- product.fields.name %></h4>  
        </div>
      </div>
      <div class="contenedor">
        <div class="modal-body">
          <div class="row text-center" >
            <div class="col-md-12">
              <img src="/media/<%- product.fields.image %>" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 "><%- product.fields.description %></div>


          </div>
        </div>
      </div>
    </div><!-- /.vertical -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  <% }); %> 


</script>