<!-- <script type="text/template" class="template-slide">
  
  <div id="carousel-example" class="carousel slide" data-ride="carousel">
 

 <% var y = 0; %>
 
 <ol class="carousel-indicators">

<% if (data.category == 'Interior'){%>
 <% _.each( data.slides, function( slide, i){ %>
      <li data-target="#carousel-example" data-slide-to="<%- i %>" class="<% if( y == 2 ){ %>active <%  }%> indicator-<%- i %>"></li>
      <% y = y + 1; %>
      <% }); %>
<%}else if(data.category == 'Exterior'){%>
 <% _.each( data.slides, function( slide, i){ %>

      <li data-target="#carousel-example" data-slide-to="<%- i %>" class="<% if( y == 0 ){ %>active <%  }%> indicator-<%- i %>"></li>
      <% y = y + 1; %>
      <% }); %>
<%}%>

     
</ol>

      <div class="carousel-inner">
      <% var x = 0;
       %>


<% if (data.category == 'Interior'){%>

  <% _.each( data.slides, function( slide, i){ %>
    <div class="item <% if( x == 2 ){ %>active <%  } %> item-<%- i %>">

      <img src="/media/<%- slide.image %>" alt="">
    </div>
    <% x = x + 1; %>
  <% }); %>


<%}else if(data.category == 'Exterior'){%>

<% _.each( data.slides, function( slide, i){ %>
    <div class="item <% if( x == 0 ){ %>active <%  } %> item-<%- i %>">

      <img src="/media/<%- slide.image %>" alt="">
    </div>
    <% x = x + 1; %>
  <% }); %>
<%}%>

        <a class="arrow left" href="#carousel-example" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
          </a>
          <a class="arrow right" href="#carousel-example" role="button" data-slide="next">
              <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
           </a>
          <div data-toggle="modal" data-target=".bg-slide" id="btn-big-slide"></div>
      </div>
    </div>
</script> -->

<script type="text/template" class="template-slide">
  
  <div id="carousel-example" class="carousel slide" data-ride="carousel">
 

       <% var y = 0; %>
       <% var num = data.numero; %>
       
       <ol class="carousel-indicators">
         <% _.each( data.slides, function( slide, i){ %>
              <li data-target="#carousel-example" data-slide-to="<%- i %>" class="<% if( i == num ){ %>active <%  }%> indicator-<%- i %> <%- num%>" ></li>
              <% }); %>
      </ol>

      <div class="carousel-inner">
            <% var x = 0;
             %>
        <% _.each( data.slides, function( slide, i){ %>
          <div class="item <% if( x == num ){ %>active <%  } %> item-<%- i %>">

            <img src="/media/<%- slide.image %>" alt="">
          </div>
          <% x = x + 1; %>
        <% }); %>

        <a class="arrow left" href="#carousel-example" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
          </a>
          <a class="arrow right" href="#carousel-example" role="button" data-slide="next">
              <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
           </a>
          <div data-toggle="modal" data-target=".bg-slide" id="btn-big-slide"></div>
      </div>
    </div>
</script>