@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        
font-style: normal;
/*margin-left: 20px;*/
}.flaticon-draw21:before {
	content: "\e000";
}
.flaticon-information43:before {
	content: "\e001";
}
.flaticon-multimediaoption133:before {
	content: "\e002";
}
.flaticon-operation3:before {
	content: "\e003";
}
.flaticon-pin56:before {
	content: "\e004";
}
.flaticon-quick-response:before {
	content: "\e005";
}
.flaticon-saving13:before {
	content: "\e006";
}
.flaticon-tool422:before {
	content: "\e007";
}
