@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?mkjq68');
    src:    url('fonts/icomoon.eot?mkjq68#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?mkjq68') format('truetype'),
        url('fonts/icomoon.woff?mkjq68') format('woff'),
        url('fonts/icomoon.svg?mkjq68#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*font-size: 1rem;*/
}

.icon-flecha-abajo-01:before {
    content: "\e900";
}
.icon-flecha-arriba-01:before {
    content: "\e901";
}
.icon-flecha-derecha-01:before {
    content: "\e902";
}
.icon-flecha-izquierda-01:before {
    content: "\e903";
}

