{% load staticfiles %}
{% load crispy_forms_tags %}
<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 ie-lt10 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="es"><!--<![endif]-->
<!-- the "no-js" class is for Modernizr. --> 

<head id="www.configurator.vandutch.com" data-template-set="html5-reset">
	<meta charset="utf-8">
	<meta name="robots" content="noindex, nofollow">
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
	<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	{% block meta %}
		<title>YACHT MODELS CONFIGURATOR</title>
	{% endblock %}	
	<meta name="title" content="VanDutch Home" />
	<meta name="description" content="" />
	<!--Always force latest IE rendering engine (even in intranet) & Chrome Frame-->
	<meta name="google-site-verification" content="" />
	<!-- Speaking of Google, don't forget to set your site up: http://google.com/webmasters -->
	<meta name="author" content="vandutch.com" />
	<meta name="Copyright" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="{% static 'image/favicon.png' %}" /> 
	
	<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}" />
	<!-- The is the icon for iOS's Web Clip and other things.
		 - size: 57x57 for older iPhones, 72x72 for iPads, 114x114 for retina display (IMHO, just go ahead and use the biggest one)
		 - To prevent iOS from applying its styles to the icon name it thusly: apple-touch-icon-precomposed.png
		 - Transparency is not recommended (iOS will put a black BG behind the icon) -->

		 <!-- concatenate and minify for production -->
		 <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
		 {# <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'> #}
		 <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen" />		
		 <link href="{% static 'css/reset.css' %}" rel="stylesheet">
		 <link href="{% static 'css/style.css' %}" rel="stylesheet">
		 <link href="{% static 'css/iconos/flaticon.css' %}" rel="stylesheet">
		 <link href="{% static 'css/main.css' %}" rel="stylesheet">


		 
		 <link href="{% static 'css/fancy/source/jquery.fancybox.css' %}" rel="stylesheet">
		 {% block css %}
			<style>
				.form-group label{display: none!important;}
				.form-horizontal .control-label{display: none!important;}
				.form-horizontal .form-group{margin-right: 0px!important;;margin-left: 0px!important;}
			</style>
		 {% endblock %}
	<!-- This is an un-minified, complete version of Modernizr. 
	Before you move to production, you should generate a custom build that only has the detects you need. -->
	<script async src="{% static 'bower_components/modernizr-min/dist/modernizr.min.js' %}"></script>
	

</head>


<body class="{% block bodyclass %}{% endblock %}">
{%block header%}
	<header id="s_header" >
		<nav class="main-menu navbar navbar-inverse navbar-fixed-top">
			<div id="s_menu" class="">
				<div class="row navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="http://punklabs.ninja/devvandutch/color-configurator/">Yacht Models</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li id="vext" data-select = "exterior" class="menuItem active"><a  href="#Exterior">1.Exterior </a></li>
						<li  id="vint" data-select = "interior" class="menuItem"><a href="#Interior">2. Interior</a></li>
						<li data-select = "" class="menuItem"><a href="#options">3. Options</a></li>
						<li data-select = "" class="menuItem"><a href="{% url 'summary' single_yatch.pk %}">4. Summary</a></li>
					<div class="header-summary-mobile visible-xs white">
						<div class="itemsGroup text-center">
							<div class="groupItem">
								<a rel="tooltip" data-toggle="modal" data-target=".modal-load-code" title="Load Configuration" class="white-tooltip" ><span class="circle glyphicon glyphicon-folder-open"></span></a>
							</div>
							<div class="groupItem">
								<a rel="tooltip" data-toggle="modal" data-target=".modal-save-code" title="Save" class="save-link white-tooltip generate-code" ="">
									<span class="circle flaticon-saving13"></span>
								</a>
							</div>
							<div class="groupItem">
								<a rel="tooltip" title="Print"  href="{%url 'generate_pdf'%}?yacht_id={{single_yatch.pk}}&options=true&characteristic_id=1,2" class="white-tooltip">
									<span class="circle flaticon-tool422"></span>	
								</a>
							</div>
							<div class="groupItem">
								<!--a title="Share" rel="tooltip" class="white-tooltip">
									<span class="circle flaticon-multimediaoption133"></span>
								</a-->
								<div class="addthis_toolbox addthis_default_style">
									<a class="addthis_button_compact">
										<span class="circle flaticon-multimediaoption133"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<li class="red-li visible-xs">
						<a data-toggle="modal" data-target=".modal-save-code" class="generate-code">Dealer Contact<span style="margin-left:5px"class="flaticon-pin56"></span></a>
					</li>
					</ul>


					<div class="navigation_contact_mobile">
						<div class="group">
							<span class="dots glyphicon glyphicon-option-horizontal"></span>
						</div>
						<div class="itemsGroup-mobile">
							<div class="groupItem">
								<a rel="tooltip" data-toggle="modal" data-target=".modal-load-code" title="Load Configuration" class="white-tooltip" ><span class="circle glyphicon glyphicon-folder-open"></span></a>
							</div>
							<div class="groupItem">
								<a  rel="tooltip" data-toggle="modal" data-target=".modal-save-code" title="Save" class="save-link white-tooltip generate-code" data-yate="{{single_yatch.pk}}">
									<span class="circle flaticon-saving13"></span>
								</a>
							</div>
							<div class="groupItem">
								<a rel="tooltip" title="Print"  href="{%url 'generate_pdf'%}?yacht_id={{single_yatch.pk}}&options=true&characteristic_id=1,2" class="white-tooltip">
									<span class="circle flaticon-tool422"></span>	
								</a>
							</div>
							<div class="groupItem">
								<!--a title="Share" rel="tooltip" class="white-tooltip">
									<span class="circle flaticon-multimediaoption133"></span>
								</a-->
								<div class="addthis_toolbox addthis_default_style">
									<a class="addthis_button_compact" >
										<span class="circle flaticon-multimediaoption133"></span>
									</a>
								</div>
							</div>
							<div class="contact-li">
								<ul>
									<li class="dealer-item"><a data-toggle="modal" data-target=".modal-save-code" class="generate-code" data-yate="{{single_yatch.pk}}">Dealer Contact<span style="margin-left:5px" class="flaticon-pin56"></span></a></li>
								</ul>
							</div>


						</div>
					</div>
					<div class="navigation_contact" style="display:none">
						<div class="mainGroup" style="display:none"></div>
						<div class="pull-right itemsGroup">
							<div class="groupItem">
								<a data-toggle="modal"  title="Load Configuration" data-placement="bottom" data-target=".modal-load-code" rel="tooltip" class="white-tooltip" ><span class="circle glyphicon glyphicon-folder-open"></span></a>
							</div>
							<div class="groupItem">
								<a rel="tooltip" title="Save" data-placement="bottom" data-toggle="modal" data-target=".modal-save-code" class="generate-code white-tooltip save-link" data-yate="{{single_yatch.pk}}">
									<span class="circle flaticon-saving13"></span>
								</a>
							</div>
							<div class="groupItem">
								<a rel="tooltip" title="Print" data-placement="bottom"  href="{%url 'generate_pdf'%}?yacht_id={{single_yatch.pk}}&options=true&characteristic_id=1,2" class="white-tooltip" >
									<span class="circle flaticon-tool422" ></span>	
								</a>
							</div>
							<div class="groupItem">
								<!--a title="Share" rel="tooltip" class="white-tooltip">
									<span class="circle flaticon-multimediaoption133"></span>
								</a-->
								<div class="addthis_toolbox addthis_default_style">
									<a class="addthis_button_compact" >
										<span class="circle flaticon-multimediaoption133"></span>
									</a>
								</div>
							</div>
							<ul class="nav navbar-nav navbar-right dealer-menu">
								<li class="dealer-item"><a data-placement="bottom" data-toggle="modal" data-target=".modal-save-code" class="generate-code white-tooltip" data-yate="{{single_yatch.pk}}">Dealer Contact<span style="margin-left:5px"class="flaticon-pin56"></span></a></li>
							</ul>
						</div>						
					</div>
				</div>
			</div>
		</nav>

		<div class="header-yatch">
			<h1 class="">{{single_yatch.name}}</h1><br>
		</div >
        
		<div id="modelinfo">
        <a class="flyoutopener" id="detail-characteristics"><span class="icon-flecha-abajo-01" ></span>Details</a>
			<div class="groupItems">
				<ul id="modelinfo_x_modelinfo">
        			{% for cate in characteristic_types %}

        				<li>
        					
        					<span class="gray icon-flecha-derecha-01" aria-hidden="true"></span>
        					<a class="cursor" data-toggle="modal" data-target="#cat-{{forloop.counter}}">{{cate}}</a>
        				</li>
        				<span class="delim">|</span>
        			{% endfor %}
				</ul>
			</div>
		</div>
	</header>

{%endblock%}
	{% block content %}
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<!-- <h1>Choose your favorite module</h1> -->
				</div>
				<div class="col-xs-12 col-sm-12">
					<div class="row">
						{% for yatch in yatch %}
							<div class="col-sm-3 single-yatch ">
								<div class="media" style="position:relative">
									<a href="#"> > Build your own</a>
									<img src="{{ MEDIA_ROOT }}{{ yatch.thumbnail.url }}" alt="" style="margin-top:20px">
									<div class="title">
										<a class="text-center" style="display:block" href="#">{{ yatch.name }}</a>
									</div>
								</div>


							</div>
						{% endfor %}
					</div>
				</div>
			</div>

		</div>	
	{% endblock %}


<!-- Large modal save-->
<div class="modal fade modal-load-code" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="vertical-alignment-helper">

		<div class="modal-dialog modal-lg vertical-align-center">
			
			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="gridSystemModalLabel">Load my VanDutch</h4>
			</div>
				<div class="contenedor">
					<div class="row">
						<div class="col-md-12">
							<h2 class="title-l8">VanDutch Code</h2><br>
							<p>
								If you have a VanDutch Code, please type it in here:
							</p><br>
							<form class=" form-code form-inline" action="{% url 'summary_code' %}" method="GET" >
							  <div class="form-group">
							    <input type="text" id="code" name="code" value="{{code}}" class="submit-input" placeholder="Your VanDutch Code" required>
							  </div>
							  <button type="submit" class="btn-submit btn btn-default">Open</button>
							  
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





<!-- Large modal save-->

<div class="modal fade modal-save-code" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg">
		

		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="gridSystemModalLabel">Save my VanDutch</h4>
		</div>
			<div class="contenedor">
				<div class="row">
					<div class="col-md-12">
						<h2 class="title-l8">VanDutch Code</h2><br>
						<p>
							With the VanDutch Code you are able to access your configuration from the Yacht Configurator without registering.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h2 class="code"></h2>
						<a class="a-code" style="margin-top:30px" href="" target="_blank"></a>
						<hr>
						<!-- Go to www.addthis.com/dashboard to customize your tools -->
						<div class="addthis_sharing_toolbox"></div>
					</div>
				</div>
		        <div class="row" style="margin-top:30px">
			        <div class="col-sm-12">
			        	<form id="form" class="form-horizontal form" action="{% url 'formview' %}" role="form" method="POST">
							{% csrf_token %}
							{% for field in  saveForm %}
							
								<div class="{% if forloop.counter == 1 or forloop.counter == 2 %}col-sm-6{% else %}col-sm-12{% endif %}">
									{{field|as_crispy_field}}
								</div>
							{% endfor %}
							<input type="hidden" class="input-code" name="code" value="{{request.session.codigo }}">
							<input type="hidden" class="" name="yacht" value="{{single_yatch.name}}">
							
							
							<input id="cexterior" type="hidden" class="" name="cexterior" value="{{request.session.summary.categories_selected.2.1.name}}">
							<input id="cinterior" type="hidden" class="" name="cinterior" value="{{request.session.summary.categories_selected.1.1.name}}">
							<div class="form-group">
							 	<div class="col-sm-12">
							 		<button id="inputEnviar" type="submit" class="btn btn-primary pull-right"><span>Send to Dealer</span></button>
							 	</div>
							 </div>
							 <div class="mensaje"></div>
							{% if mensaje_mail %}
							<script type="text/javascript">
								alert("Mensaje enviado. Gracias por enviarnos tus datos, pronto nos pondremos en contacto contigo.");
								window.location.href='{% url "contacto" %}'
							</script>
							{% endif %}
						</form>
						<div id="success-form"></div>
			        </div>     	
		        </div>
			</div>
			</div>
		</div>
	</div>
</div>
	<link href="{% static 'icomoon/style.css' %}" rel="stylesheet">
	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57ac6e58be7ac80c"></script>
	<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
	<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>-->
	<script src="{% static 'css/fancy/source/jquery.fancybox.pack.js' %}"></script>
	<script src="{% static 'css/fancy/lib/jquery.mousewheel-3.0.6.pack.js' %}"></script>
	<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'bower_components/validate.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src="{% static 'js/jquery.mobile.custom.min.js' %}"></script>
<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
	http://chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	
		

		
{% block js %}


{% endblock  %}
<script>
$(document).ready(function(){

	var width = $(window).width();
	if (width < 768 ){
		$('.navbar-nav a').click(function(){
			$('.navbar-toggle').trigger('click');
		});
	}else{
		$("[rel='tooltip']").tooltip();
	}
		$('.generate-code').click(function(event) {
			event.preventDefault();

			var csrftoken=$(".token").find('input[name="csrfmiddlewaretoken"]').val();
			var yacht_id = $(this).attr('data-yate');
			$.ajax("{% url 'generate_code' %}",{
				data:{'csrfmiddlewaretoken':csrftoken, 'yacht_id':yacht_id},
				type:'post',
				cache:false,
				timeout:8000,
				beforeSend: function(json){
					// console.log(json);
				},
				success: function(json){
					// console.log(json);
			 		// $(".code").html(json);
			 		
			 		var href = "http://{{ request.META.HTTP_HOST }}/code/" + json;
			 		var title = "I´ve configured my {{single_yatch.name}} - check it out!";
			 		var description = "vandutch.com";
			 		var image = "http://{{ request.META.HTTP_HOST }}"+"images/home/banner.jpg";
					$('body').find('.code').html(json);
			 		$('body').find('.a-code').attr('href', href);
			 		$('body').find('.a-code').html(href);
			 		$('body').find('.addthis_toolbox').attr('addthis:url', href);
			 		$('body').find('.addthis_toolbox').attr('addthis:title', title);
			 		$('body').find('.input-code').attr('value',json);

					addthis.update('share', 'url', href); 
					addthis.url = href; 
					addthis.update('share', 'title', title);
					addthis.title = title; 
					addthis.update('share', 'description', description);
					addthis.description = description; 
					addthis.toolbox(".addthis_toolbox");


			 	},
			 	error:function(jqXHR,textStatus,errorThrown){
			 		// console.log("error:" + errorThrown);
			 	}
			 });
		});

		
});
</script>
<script>
jQuery(function($) {
		$(document).ready(function(){
			$('.navigation_contact_mobile').click(function(){
				$(this).toggleClass('open');
			});
			$("#form").submit(function(event){
					
		  			event.preventDefault();
		  			$.ajax($(this).attr("action"),{
		              data:$(this).serialize(),
		              type:'post',
		              dataType:'json',
		              cache:false,
		              timeout:20000,
		              beforeSend: function(json){
		              	// console.log("beforeSend");
		              	$("#inputEnviar").prop( "disabled", true );
		              	// $("#send-msg").css('background-color','#ADADAD');
		              	
					  },
					  success: function(json){
						// console.log(json);
						$("#success-form").html('<div class="alert alert-success" role="alert">'+json.message+'</div>')
						$('#form')[0].reset()
						$("#inputEnviar").prop( "disabled", false );
						$("#inputEnviar").css('background-color','#fd6b0d');
						$('#form .errorlist').remove()

					  },
					  error:function(jqXHR,textStatus,errorThrown){
					  	$("#inputEnviar").prop( "disabled", false );
					  	$("#inputEnviar").css('background-color','#fd6b0d');
					  	if (jqXHR.status == 400){
					  		$('#form .errorlist').remove()
					  		// console.log(jqXHR.responseJSON)
					  		for(var k in jqXHR.responseJSON) {
					  			var errors=""
		   						for ( i=0; i< jqXHR.responseJSON[k].length; i++){
		   							// console.log("#"+k)
		   							errors+="<li>"+jqXHR.responseJSON[k][i]+"</li>";
		   						}
		   						$("#id_"+k).after(function(){
		   								return '<ul class="errorlist" >'+errors+'</ul>';
		   						})
							}

					  	}

					  	

					  }
		  			})

				})
		});
	});
	



</script>


</body>
</html>


