{% load staticfiles %}
{% block metatags %}
	<meta charset="utf-8" />
	<meta name="robots" content="noindex, nofollow" />
	<meta name="title" content="" />
	<meta name="description" content="" />
	<meta name="google-site-verification" content="" />
	<meta name="author" content="Punk e-Marketing & Consulting" />
	<meta name="Copyright" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock metatags %}

{%block content%}
 <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen" />       
 <link href="{% static 'css/reset.css' %}" rel="stylesheet">
 <link href="{% static 'css/style.css' %}" rel="stylesheet">
 <link href="{% static 'css/iconos/flaticon.css' %}" rel="stylesheet">
 <link href="{% static 'css/main.css' %}" rel="stylesheet">
<section>
	<div class="container-fluid">
		<div class="row" style="position:relative">
				<img src="{% static 'images/home/banner.jpg' %}" alt="" style="width:100%">
				<h1 class="title-code">The VanDutch Code</h1>
		</div>
	</div>
	<section class="space-section">
		<div class="container ">
			<div class="row">
				<div class="col-sm-12 ">

					<form class=" form-code form-inline" action="{% url 'summary_code' %}" method="GET">
					  <div class="form-group">
					    <input type="text" id="code" name="code" value="{{code}}" class="submit-input" placeholder="Your VanDutch Code" required>
					  </div>
					  <button type="submit" class="btn-submit btn btn-default">Open</button>
					  {% csrf_token %}
					</form>
					<hr>
				</div>
				<div class="col-sm-12 ">
					<p>
						Call up your saved configuration conveniently via an internet address. Continue configuration of your VanDutch or share it with friends and acquaintances. All you need is the VanDutch Code. Share it by e-mail or in social networks. The VanDutch Code means that you can turn your dream into reality in your VanDutch Center.
					</p>

				</div>

			</div>
		</div>
	</section>
	
	
	
</section>

<style>
	#s_header{display: none!important;}
</style>
{%endblock%}