{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block header%}
{% endblock %}
{% load staticfiles %}
{% block content %}

	<section class="">
    <div class="container-fluid">
        <div class="row">
            <img src="{% static 'images/home/banner.jpg' %}" width="100%!important" alt="">
        </div>
    </div>
    <div class="container">
        <div class="row">       
            <div class="col-xs-12 col-sm-12">
					<form id="form" class="form-horizontal form" action="{% url 'formview' %}" role="form" method="POST">
						{% csrf_token %}
						{% for field in  form %}
							<div class="{% if forloop.counter == 1 or forloop.counter == 2 %}col-sm-6{% else %}col-sm-12{% endif %}">
								{{field|as_crispy_field}}
							</div>
						{% endfor %}
						<div class="form-group">
						 	<div class="col-sm-12">
						 		<button id="inputEnviar" type="submit" class="btn btn-primary pull-right"><span>Send to Dealer</span></button>
						 	</div>
						 </div>
						 <div class="mensaje"></div>
						{% if mensaje_mail %}
						<script type="text/javascript">
							alert("Mensaje enviado. Gracias por enviarnos tus datos, pronto nos pondremos en contacto contigo.");
							window.location.href='{% url "contacto" %}'
						</script>
						{% endif %}
					</form>
					<div id="success-form"></div>


            </div>
        </div>
    </div>  
</section>
{% endblock  %}
