
{%block header%}
{% endblock %}
{% load staticfiles %}
{% block content %}
 <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen" />       
 <link href="{% static 'css/reset.css' %}" rel="stylesheet">
 <link href="{% static 'css/style.css' %}" rel="stylesheet">
 <link href="{% static 'css/iconos/flaticon.css' %}" rel="stylesheet">
 <link href="{% static 'css/main.css' %}" rel="stylesheet">

<section class="">
    <div class="container-fluid">
        <div class="row">
            <img src="{% static 'images/home/banner.jpg' %}" width="100%!important" alt="" class="img-responsive">
        </div>
    </div>
    <div class="container" style="margin-top:5%;">
        <div class="row">       
            <div class="col-xs-12 col-sm-12">
                <div class="row">
                    {% for yatch in yatchs %}
                    <div class="col-sm-3">                  
                        <div class="m-14-model-tile">
                            <div class="m-14-model-tile-wrapper">
                                <div class="m-14-model-tile-link-wrapper">
                                    <a href="" class="m-14-model-tile-link"><span><span class="red glyphicon glyphicon-menu-right"></span> Build Your Own</span></a>
                                </div>
                                <div class="m-14-model-overview-link-wrapper">
                                    <a href="{% url 'yatch_detail' yatch.id %}">
                                        {% if yatch.thumbnail %}
                                            <img src="{{ MEDIA_ROOT }}{{ yatch.thumbnail.url }}" alt="">
                                        {% endif %}
                                        <div class="m-14-title-wrapper">
                                            <a href="{%url 'yatch_detail' yatch.id %}" class="m-14-model-tile-title"><span class="red glyphicon glyphicon-menu-right"></span>{{ yatch.name }}</a>
                                            {# <div class="m-14-model-tile-price">from MSRP $ 52,600.00</div> #}
                                        </div>
                                        <a class="m-14-model-tile-link-overview"  aria-haspopup="true"></a>
                                        <div class="border"></div>    
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>  
</section>


<style>

.m-14-model-tile a{color:#060707!important;}
.m-14-model-tile a:hover{color:;}   
.m-14-model-tile{margin-left: 1%;float: left;position: relative;}

.m-14-model-tile .m-14-model-tile-wrapper .border{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #FFF;
        padding-top: 0.57143em;
        position: absolute;
        left: -1px;
        right: -1px;
        padding-bottom: 1.28571em;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-bottom: 3px solid transparent;
}
.m-14-model-tile .m-14-model-tile-wrapper:hover .border{
    display: block;
    border-left: 1px solid #CCC!important;
    border-right: 1px solid #CCC!important;
    border-bottom: 3px solid red!important
}
.m-14-model-tile .m-14-model-tile-wrapper .m-14-title-wrapper .border{
    transform: translateZ(0px);
    font-size: 0.875em;
    color: #000;
}


.m-14-model-tile .m-14-model-tile-wrapper .m-14-model-tile-link-wrapper{max-width: 80%;
margin: 0px auto;padding: 10px 0px}
.m-14-model-tile .m-14-model-tile-wrapper .m-14-model-tile-link-wrapper .m-14-model-tile-link span {
    line-height: normal;
    display: inline-block;
    text-indent: -0.5625em;
    text-align: left;
    /*vertical-align: top;*/
}
.m-14-model-tile{margin-bottom: 0.9375em;}
.m-14-model-tile{padding-bottom: 8%;}
.m-14-model-tile{width: 97%;
color: #1B1D1F;
text-align: center;
background-color: #FFF;
min-height: 0px;
padding-top: 15%;
padding-bottom: 30%;
margin-bottom: 2.1875em;}

.m-14-model-tile .m-14-model-tile-wrapper .m-14-model-overview-link-wrapper{}

.m-14-model-tile .m-14-model-tile-wrapper .m-14-model-tile-image{width: 80%;
height: auto;
margin-top: -0.625em;}
.m-14-model-tile .m-14-model-tile-wrapper .m-14-title-wrapper .border{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #FFF;
    padding-top: 0.57143em;
    position: absolute;
    left: -1px;
    right: -1px;
    padding-bottom: 1.28571em;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.m-14-model-tile .m-14-model-tile-wrapper:hover{
    color: #1B1D1F;
cursor: pointer;
border-radius: 5px 5px 0px 0px;
border-width: 1px 1px medium;
border-style: solid solid none;
border-color: #CCC #CCC -moz-use-text-color;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
background-color: #FFF;
z-index: 18;
}

.border{border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
background-color: #FFF;
padding-top: 0.57143em;
position: absolute;
left: -1px;
right: -1px;
padding-bottom: 1.28571em;
border-left: 1px solid transparent;
border-right: 1px solid transparent;}


.m-14-model-tile .m-14-model-tile-wrapper .m-14-model-tile-link-wrapper .m-14-model-tile-link{
text-indent: -0.75em;
display: none;
min-height: 2.75em;
line-height: 2.75em;
color: #1B1D1F;
text-decoration: none;}
.m-14-model-tile .m-14-model-tile-wrapper:hover .m-14-model-tile-link-wrapper .m-14-model-tile-link, .m-14-model-tile .m-14-model-tile-wrapper.display .m-14-model-tile-link-wrapper .m-14-model-tile-link{display: block}

 .m-14-model-tile .m-14-model-tile-wrapper:hover .m-14-title-wrapper .border{   
    display: block;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

.m-14-model-tile-wrapper{border-width: 1px 1px medium;
border-style: solid solid none;
border-color: transparent transparent -moz-use-text-color;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
position: absolute;
bottom: 0px;
right: 0px;
left: 0px;
width: 100%;
}
/*.m-14-model-tile .m-14-model-tile-wrapper:hover .border{
    width: 100%;border-left:1px solid grey;border-right: 1px solid grey; border-bottom: 3px solid red;display: block;position: relative;}*/


/*-----*/









        .m-14-model-tile .m-14-model-tile-wrapper:hover{                
    color: #1b1d1f;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fff;
    border-bottom: none;
    z-index: 18;}
.m-14-model-tile {    margin-left: 1%;    padding-bottom: 8%;    padding-top: 8%;    color: #1b1d1f;
    text-align: center;
    background-color: #fff;
    min-height: 0;
    padding-top: 15%;
    padding-bottom: 30%;
    margin-bottom: 2.1875em;}
    .m-14-model-tile .m-14-model-tile-wrapper{    border: 1px solid transparent;
    border-bottom: none;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;}
    .m-14-model-tile .m-14-model-tile-wrapper .m-14-model-tile-link-wrapper{    max-width: 80%;
    margin: 0 auto;}
    .m-14-model-tile .m-14-model-tile-wrapper .m-14-model-overview-link-wrapper{    margin-bottom: .625em;    position: relative;}
    .m-14-model-tile .m-14-model-tile-wrapper .m-14-model-tile-image{    width: 80%;
    height: auto;
    margin-top: -.625em;    vertical-align: middle;}
    .m-14-model-tile .m-14-model-tile-wrapper .m-14-model-overview-link-wrapper .m-14-model-tile-link-overview{    position: absolute;
    top: 0;
    bottom: 0;
    display: block;}
    
    

                        </style>



{% endblock %}
<link href="{% static 'icomoon/style.css' %}" rel="stylesheet">
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>