{% extends 'base.html' %}

	{%block header %}


				<nav class="main-menu navbar navbar-inverse navbar-fixed-top">
			<div id="s_menu" class="">
				<div class="row navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="http://punklabs.ninja/devvandutch">Yacht Models</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="menuItem"><a  href="{%url 'yatch_detail' single_yatch.id %}#Exterior">1.Exterior </a></li>
						<li class="menuItem "><a href="{%url 'yatch_detail' single_yatch.id %}#Interior">2. Interior</a></li>
						<li class="menuItem"><a href="{%url 'yatch_detail' single_yatch.id %}#options">3. Options</a></li>
						<li class="menuItem active"><a href="{% url 'summary' single_yatch.id %}">4. Summary</a></li>
					<div class="header-summary-mobile visible-xs white">
						<div class="itemsGroup text-center">
							<div class="groupItem">
								<a rel="tooltip" data-toggle="modal" data-target=".modal-save-code" title="Load Configuration" class="white-tooltip" ><span class="circle glyphicon glyphicon-folder-open"></span></a>
							</div>
							<div class="groupItem">
								<a rel="tooltip" data-toggle="modal" data-target=".modal-save-code" title="Save" class="white-tooltip active-code generate-code">
									<span class="circle flaticon-saving13"></span>
								</a>
							</div>
							<div class="groupItem">
									<a rel="tooltip" title="Print" href="{%url 'generate_pdf'%}?yacht_id={{single_yatch.id}}&options=true&characteristic_id=1,2" class="white-tooltip">
									<span class="circle flaticon-tool422"></span>	
								</a>
							</div>
							<div class="groupItem">
 								<!--<a title="Share" rel="tooltip" class="white-tooltip">
									<span class="circle flaticon-multimediaoption133"></span>
								</a-->
								<div class="addthis_toolbox addthis_default_style">
									<a class="addthis_button_compact">
										<span class="circle flaticon-multimediaoption133"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<li class="red-li visible-xs">
						<a data-toggle="modal" data-target=".modal-save-code" class="generate-code">Dealer Contact<span style="margin-left:5px"class="flaticon-pin56"></span></a>
					</li>
					</ul>


					<div class="navigation_contact_mobile">
						<div class="group">
							<span class="dots glyphicon glyphicon-option-horizontal"></span>
						</div>
						<div class="itemsGroup-mobile">
							<div class="groupItem">
								<a rel="tooltip" data-toggle="modal" data-target=".modal-load-code" title="Load Configuration" class="white-tooltip" ><span class="circle glyphicon glyphicon-folder-open"></span></a>
							</div>
							<div class="groupItem">
								<a  rel="tooltip" data-toggle="modal" data-target=".modal-save-code" title="Save" class="white-tooltip generate-code active-code">
									<span class="circle flaticon-saving13"></span>
								</a>
							</div>
							<div class="groupItem">
								<a rel="tooltip" title="Print"  href="{%url 'generate_pdf'%}?yacht_id={{single_yatch.id}}&options=true&characteristic_id=1,2" class="white-tooltip">
									<span class="circle flaticon-tool422"></span>	
								</a>
							</div>
							<div class="groupItem">
								<a class="addthis_button_compact">
										<span class="circle flaticon-multimediaoption133"></span>
								</a>
							</div>
							<div class="contact-li">
								<ul>
									<li class="dealer-item"><a data-toggle="modal" data-target=".modal-save-code"class="generate-code">Dealer Contact<span style="margin-left:5px"class="flaticon-pin56"></span></a></li>
								</ul>
							</div>


						</div>
					</div>
					<div class="navigation_contact" style="display:none">
						<div class="mainGroup" style="display:none"></div>
						<div class="pull-right itemsGroup">
							<div class="groupItem">
								<a data-toggle="modal"  title="Load Configuration" data-placement="bottom" data-target=".modal-load-code" rel="tooltip" class="white-tooltip" ><span class="circle glyphicon glyphicon-folder-open"></span></a>
							</div>
							<div class="groupItem">
								<a rel="tooltip" title="Save" data-placement="bottom" data-toggle="modal" data-target=".modal-save-code" class="active-code white-tooltip generate-code" >
									<span class="circle flaticon-saving13"></span>
								</a>
							</div>
							<div class="groupItem">
								<a rel="tooltip" title="Print" data-placement="bottom"  href="{%url 'generate_pdf'%}?yacht_id={{single_yatch.id}}&options=true&characteristic_id=1,2" class="white-tooltip" >
									<span class="circle flaticon-tool422" ></span>	
								</a>
							</div>
							<div class="groupItem">
								<div class="addthis_toolbox addthis_default_style">
									<a class="addthis_button_compact">
										<span class="circle flaticon-multimediaoption133"></span>
									</a>
								</div>
							</div>
							<ul class="nav navbar-nav navbar-right dealer-menu">
								<li class="dealer-item"><a data-toggle="modal" data-target=".modal-save-code" class="generate-code">Dealer Contact<span style="margin-left:5px"class="flaticon-pin56"></span></a></li>

							</ul>
						</div>						
					</div>
				</div>
			</div>
		</nav>
		{%endblock%}
{% block bodyclass %}summary{% endblock %}
{% load staticfiles %}


{%block css %}


<link href="{% static 'css/threesixty.css' %}" rel="stylesheet">
<style>
.header-summary-mobile.white span{color:#fff!important;}

	/*.navbar-nav{margin-left: 10px!important;margin-bottom: 0px!important; margin-top: 0px!important}*/
.arrow:hover{color: #C00;opacity: 1;text-decoration: none}
.arrow{

	font-size: 3.45rem;
	width: 3.5rem;
	height: 60%;
	position: absolute;
	top: 20%;
	cursor: pointer;
	color: #CCC;
	background-color: transparent;
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: all 0.35s linear 0s;
}

.arrow.left{
	left: 0.5rem;
	padding-right: 4%;
}

/*right*/
.arrow.right{
	right: 0.5rem;
	/*padding-left: 4%;*/
}


.threesixty {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
.threesixty .threesixty_images {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
.threesixty .threesixty_images img {
	position: absolute;
	/*top: 0;*/
	width: 100%;
	height: auto;
}
.threesixty .threesixty_images img.previous-image {
	visibility: hidden;
	width: 0;
}
.threesixty .threesixty_images img.current-image {
	visibility: visible;
	width: 100%;
}
.threesixty .spinner {
	width: 60px;
	display: block;
	margin: 0 auto;
	height: 30px;
	background: #333;
	background: rgba(0, 0, 0, 0.7);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.threesixty .spinner span {
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: #FFF;
	text-align: center;
	line-height: 30px;
	display: block;
}
.threesixty .nav_bar {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 11;
}
.threesixty .nav_bar a {
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	background: url(/assets/sprites.png) no-repeat;
	text-indent: -99999px;
}
.threesixty .nav_bar a.nav_bar_play {
	background-position: 0 0 !important;
}
.threesixty .nav_bar a.nav_bar_previous {
	background-position: 0 -73px !important;
}
.threesixty .nav_bar a.nav_bar_stop {
	background-position: 0 -37px !important;
}
.threesixty .nav_bar a.nav_bar_next {
	background-position: 0 -104px !important;
}
/* html */
.threesixty:-webkit-full-screen {
	background: #ffffff;
	width: 100%;
	height: 100%;
	margin-top: 0;
	padding-top: 200px;
}
.threesixty:-moz-full-screen {
	background: #ffffff;
	width: 100%;
	height: 100%;
	margin-top: 0;
	padding-top: 200px;
}


@media screen and (max-width: 767px){
	.navbar-header button{
	margin-right: 5%!important;
	}
	.navbar-inverse .navbar-brand{
		margin-left: 5%!important;
	}
}
</style>
{%endblock%}
{% block content %}
<section id="main-section"  style="margin-top:50px">
	<div class="container">
		<div class="title">
			<h1 class="main-title">{{single_yatch.name}}</h1>
		</div>	
	</div>
	<div id="main" class="fist-section">
		<div id="s_vis-summary">
			<div id="slide-container">
				<div id="carousel-example" class="carousel slide" data-ride = "carousel">
				  <!-- Indicators -->
				   <ol class="carousel-indicators">
				 {% for slide in slides_slideshow %}
				    <li data-target="#carousel-example" data-slide-to="{{forloop.counter0}}" class="{% if forloop.first %} active {% endif %} indicator-{{forloop.counter0}}"></li>
				    {%endfor%}
				  </ol>
					<div class="carousel-inner">
						{% for slide in slides_slideshow %}
						<div class="item {% if forloop.first %} active {% endif %}">
							<img src="{{ slide.image.url }}" alt="">
						</div>
						{% endfor %}
							<a class="arrow left" href="#carousel-example" role="button" data-slide="prev">
	    						<span class="icon-flecha-izquierda-01" aria-hidden="true"></span>
	    						<span class="sr-only">Previous</span>
	    					</a>
	    					<a class="arrow right" href="#carousel-example" role="button" data-slide="next">
	    						<span class="icon-flecha-derecha-01" aria-hidden="true"></span>
	    						<span class="sr-only">Next</span>
	    					</a>
					</div>
					<div data-toggle="modal" data-target=".bg-slide" id="btn-big-slide"></div>
				</div>
			</div>
			
		</div>

			<div class="three" style="display:none">
				<div class="threesixty car">
					<div class="spinner">
						<span>0%</span>
					</div>
					<ol class="threesixty_images"></ol>
				</div>
    		</div>
			<div id="s_vis_separator"></div>
			<div class="wrpVis">
    		<section id="s_visCntrl" class="btnList search-enabled">	
    			<span  data-toggle="modal" data-target=".threesixty-modal" id="v-3d"  data-yate="{{single_yatch.pk}}" rel="tooltip" class="white-tooltip " title="360  View"></span>
    			<span class="delim clearfix">|</span>
    			<span data-target="#carousel-example" data-slide-to="0" id="view-aerial" data-toggle="tooltip" title="Aerial View" class="views-aerial white-tooltip single-views view-aerea select-view "></span>				
    			<span class="delim clearfix">|</span>
    			
    			<span  data-target="#carousel-example" data-slide-to="1" id="view-exterior" data-toggle="tooltip" title="Exterior View" class="views-ext white-tooltip single-views "></span>	
    			<span class="delim clearfix">|</span>
    			<span data-target="#carousel-example" data-slide-to="2" id="view-interior" data-toggle="tooltip" title="Interior View" class="views-int white-tooltip single-views "></span>
    		</span>
    	</section>
				<section >
					<p>* The deck in every yacht comes in a platinium color with white stripes.</p>
				</section>
			</div>
	</div>
	
	<div id="s_conf" class="second-section">
		<!--<div id="wrapper-summary">-->
		<div class="content">
			<div class="header-summary hidden-xs">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
				<div class="menu-summary">
					<ul>
						<li>
							<a class="generate-code" data-toggle="modal" data-target=".modal-generate-code">CREATE VANDUTCH CODE <span class="flaticon-quick-response
							"></span></a>
						</li>
						<li>
							<a href="http://vandutch.com/pre-owned/" target="_blank" >CURRENT OFFERS <span class="flaticon-operation3"></span></a>
						</li>
						<li>
							<a data-toggle="modal" data-target=".modal-save-code" class="generate-code">DEALER CONTACT <span class="flaticon-pin56"></span></a>
						</li>
					</ul>
				</div>
				<div class="summary-config">
					<ul>
						<li>
							<a href="{%url 'yatch_detail' single_yatch.id %}"><span class="red glyphicon glyphicon-menu-right
							"></span>Continue Configuration</a>
						</li>
						<li>
							<a data-toggle="modal" data-target=".modal-save-code" class="generate-code" ><span class="flaticon-saving13
								"></span>Save</a>
						</li>
						<li>
							<a href="{%url 'generate_pdf'%}?yacht_id={{single_yatch.id}}&options=true&characteristic_id=1,2"> <span class="flaticon-tool422
									"></span>Print</a>
						</li>
						<li><a class="addthis_button_compact"><span class="flaticon-multimediaoption133"></span>Share</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
			<div class="header-summary-mobile color-black visible-xs">
				<!--<div class="navigation_contact_mobile"> -->
						<div class="itemsGroup text-center">
							<div class="groupItem">
								<a href="{%url 'yatch_detail' single_yatch.id %}" rel="tooltip" title="Continue Edit" class="white-tooltip">
									<span class="circle icon-flecha-izquierda-01 span-black"></span>
								</a>
							</div>
							<div class="groupItem">
								<a rel="tooltip" data-toggle="modal" data-target=".modal-save-code" title="Save" class="white-tooltip active-code">
									<span class="circle flaticon-saving13 span-black"></span>
								</a>
							</div>
							<div class="groupItem">
								<a rel="tooltip" title="Print"  href="{%url 'generate_pdf'%}?yacht_id={{single_yatch.id}}&options=true&characteristic_id=1,2" class="white-tooltip"> 
									<span class="circle flaticon-tool422 span-black"></span>	
								</a>
							</div>
							<div class="groupItem">
								<a title="Share" rel="tooltip" class="white-tooltip">
									<span class="circle flaticon-multimediaoption133 span-black"></span>
								</a>
							</div>
						</div>
					</div>
			<!-- </div> -->



			<div id="options">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							{% for category in categories %}
							<div class="title-options">
								<h2 class="padding-10 cat-{{forloop.counter}} title-categories" >{{category.name}}</h2>	
							</div>
							<div class="color-container ">
								<div class="row">
									<div class="col-xs-8 col-sm-6">
										<div class="single-item-color">
											<span class="color" style="background-color:{{category.color.code}}" width="40" height="40" ></span>
											<h2 >{{category.color.name}}</h2>
										</div>
									</div>
									<div class="col-xs-4 col-sm-6 text-right">
										<a data-toggle="modal" data-target=".color-detail" title="View More Information" rel="tooltip" class="white-tooltip info-span color-details" data-colorid = "{{category.color.pk}}"><span class="flaticon-information43 "></span></a>
										<a data-toggle="tooltip" title="Edit Configuration" data-color-id="{{category.color.id}}" class="hidden-xs white-tooltip info-span" href="{%url 'yatch_detail' single_yatch.id %}#{{category.name}}"><span class="flaticon-draw21"></span></a>	
									</div>
								</div>
							</div>
							{% endfor %}
						</div><!--sm-12-->
					</div><!--row-->
					<!-- Go to www.addthis.com/dashboard to customize your tools -->

					<div class="row">
						<div class="col-sm-12">
							<div class="title-options">
								<h2 class="padding-10 title-categories" >Options</h2>	
							</div>
							<div class="options-container">

								{% for product in options.items %}
								<div class="row">
									<div class="col-xs-4 col-sm-4 text-left ">
										<div class="single-option">
											<span>{{product.1.name}}</span>
										</div>

									</div>
									<div class="col-xs-4 col-sm-4 text-center span-center">
										<div class="single-option">
											<span class="quantity" for="quantity">Quantity:  </span><span id="border-gray">{{product.1.qty}}</span>
										</div>

									</div>
									<div class="col-xs-4 col-sm-4 text-right">

										<a data-toggle="modal" data-target=".produc-detail" rel="tooltip" title="View More Information" class="product-details white-tooltip info-span edit-item" data-productid = "{{product.1.pk}}" ><span class="flaticon-information43 "></span></a>
										
										<a data-toggle="tooltip" title="Edit Configuration" class="white-tooltip info-span edit-item hidden-xs " href="{%url 'yatch_detail' single_yatch.id %}#options"><span class="flaticon-draw21"></span></a>
										

								
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="space-20">
								 <p class="all-information">* All information is subject to change without notice. Only an actual invoice issued at the time a yacht is sold from an authorized VanDutch Center may be used as an official indication of equipment and pricing.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">	
										<h2 class="padding-10 to-proceed">How do you like to proceed?</h2>
			<div class="header-summary">
				<div class="menu-summary">
					<ul>
						<li>
							<a class="generate-code" data-toggle="modal" data-target=".modal-generate-code">CREATE VANDUTCH CODE <span class="flaticon-quick-response
							"></span></a>
						</li>
						<li>
							<a href="http://vandutch.com/pre-owned/" target="_blank" >CURRENT OFFERS <span class="flaticon-operation3"></span></a>
						</li>
						<li>
							<a data-toggle="modal" data-target=".modal-save-code" class="generate-code">DEALER CONTACT <span class="flaticon-pin56" target="_blank" ></span></a>
						</li>
					</ul>
				</div>
				
				<div class="summary-config">
					<ul>
						<li>
							<a href="{%url 'yatch_detail' single_yatch.id %}"><span class="red glyphicon glyphicon-menu-right
							"></span>Continue Configuration</a>
						</li>
						<li>
							<a  data-toggle="modal" data-target=".modal-save-code" class="generate-code"><span class="flaticon-saving13
								" ></span>Save</a>
						</li>
						<li>
							<a href="{%url 'generate_pdf'%}?yacht_id={{single_yatch.id}}&options=true&characteristic_id=1,2"> <span class="flaticon-tool422
									"></span>Print</a>
						</li>
						<li><a class="addthis_button_compact"><span class="flaticon-multimediaoption133"></span>Share</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="header-summary-mobile visible-xs">
				<!--<div class="navigation_contact_mobile"> -->
						<div class="itemsGroup text-center">
							<div class="groupItem">
								<a href="{%url 'yatch_detail' single_yatch.id %}" rel="tooltip" title="Continue Edit" class="white-tooltip">
									<span class="circle icon-flecha-izquierda-01 span-black"></span>
								</a>
							</div>
							<div class="groupItem">
								<a rel="tooltip" data-toggle="modal" data-target=".modal-save-code" title="Save" class="white-tooltip generate-code">
									<span class="circle flaticon-saving13 span-black"></span>
								</a>
							</div>
							<div class="groupItem">
								<a rel="tooltip" title="Print"  href="{%url 'generate_pdf'%}?yacht_id={{single_yatch.id}}&options=true&characteristic_id=1,2" class="white-tooltip">
									<span class="circle flaticon-tool422 span-black"></span>	
								</a>
							</div>
							<div class="groupItem">
								<a class="addthis_button_compact" title="Share" rel="tooltip" class="white-tooltip">
										<span class="circle flaticon-multimediaoption133 span-black"></span>
								</a>
							</div>
						</div>
					</div>
						</div>
					</div>

				</div><!--contenedor-->
			</div><!-- options -->
			
				


		</div>
	</div>
	<div class="token">
		{% csrf_token %}
	</div>
</section>


<style>
	.footer-container, .header-container{padding:0px 13%;}
</style>
<!-- Large modal code-->

<div class="modal fade modal-generate-code" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog modal-lg vertical-align-center">


			<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="gridSystemModalLabel">Your VanDutch Code</h4>
			</div>
				<div class="contenedor">
					<div class="row">
						<div class="col-md-12">
							<p class="">
								With the VanDutch Code you are able to access your configuration from the single yatch Configurator without registering.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h2 class="code"></h2>
							<p>http://{{ request.META.HTTP_HOST }}/code/<span class="code"></span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





<div class="modal fade produc-detail" tabindex="-1" role="dialog" aria-labelledby="Slide">
	
</div>

<div class="modal fade color-detail" tabindex="-1" role="dialog" aria-labelledby="Slide">
	
</div>

<div class="modal fade bg-slide" tabindex="-1" role="dialog" aria-labelledby="Slide">
						<div class="modal-dialog modal-lg">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<div class="modal-content">

								<div id="slide-container-big">			
									<div id="carousel-big" class="carousel slide" data-ride="carousel">
										<ol class="carousel-indicators">
											{% for slide in slides_slideshow %}
											<li data-target="#carousel-example" data-slide-to="{{forloop.counter0}}" class="{% if forloop.first %} active {% endif %} indicator-{{forloop.counter0}}"></li>
											{%endfor%}
										</ol>
										<div class="carousel-inner">
											{% for slide in slides_slideshow %}
											<div class="item {% if forloop.first %} active {% endif %} item-{{forloop.counter0}}">
												<img src="{{ slide.image.url }}" alt="">
											</div>
											{% endfor %}
											<a class="arrow left" href="#carousel-big" role="button" data-slide="prev">
												<span class="icon-flecha-izquierda-01" aria-hidden="true"></span>
												<span class="sr-only">Previous</span>
											</a>
											<a class="arrow right" href="#carousel-big" role="button" data-slide="next">
												<span class="icon-flecha-derecha-01" aria-hidden="true"></span>
												<span class="sr-only">Next</span>
											</a>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

{% endblock %}
{% block js %}


{% include "includes/color_detail_js.html" %}
{% include "includes/product_detail_summary_js.html" %}

	<script src="{% static 'js/underscore-min.js' %}"></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->

	<!-- threesixty-->
 	<!--<script src="{% static 'js/threesixty/heartcode-canvasloader-min.js' %}"></script>-->
<script src="{% static 'js/threesixty/threesixty.js' %}"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->


<script>
	$(document).ready(function(){
		$("body").on("click",".indicator-0", function(){
	  $('#view-aerial').trigger( "click" );
	});
	$("body").on("click",".indicator-1", function(){
	  $('#view-exterior').trigger( "click" );
	});
	$("body").on("click",".indicator-2", function(){
	  $('#view-interior').trigger( "click" );
	});
	$('#v-3d').click(function(){
		$(this).toggleClass('selected');
		$(this).parent().toggleClass('v3d');
	});

	$('#v-3d').click(function(){
		var span_active = $('#s_visCntrl .single-views.select-view').attr('id');

		if ($(this).hasClass('selected')){

			$('body').find('#slide-container').fadeOut('slow/400/fast', function() {});
			$('body').find('.three').css('display','block');
			$('#s_visCntrl .single-views.select-view').removeClass('select-view');
			

		}else{

			$('body').find('.three').css('display','none');
			$('body').find('#slide-container').fadeIn('slow/400/fast', function() {});
			$('#s_visCntrl #'+span_active).addClass('select-view');
			var li_active = $('.carousel-indicators').find('li.active').attr('data-slide-to');
			if(li_active == 0){
				$('#view-aerial').addClass('select-view');
			}else if(li_active == 1){
				$('#view-exterior').addClass('select-view');
			}else{
				$('#view-interior').addClass('select-view');
			}
		}
		

	});
	$('.single-views').click(function(){
		if ($('body').find('#v-3d').hasClass('selected')){
				$('body').find('.three').css('display','none');
				$('body').find('#v-3d').removeClass('selected')
			$('body').find('#slide-container').fadeIn('slow/400/fast', function() {});
		}
	});



	function threesixty(csrftoken, yate) {
    var csrftoken2 ='';
    var yate2 ='';
    csrftoken2=csrftoken;
    yate2 = yate
    var data = {
    	yacht_id:yate2,
    	csrfmiddlewaretoken: csrftoken2,
    }
    $.ajax("{% url 'get_slides_360' %}",{
    	data:data,
    	type:'post',
    	cache:false,
    	timeout:8000,
    	beforeSend: function(json){

    	},
    	success: function(json){
     		$('.threesixty_images').html('');
     		$('.spinner').css({'opacity':'1'});

     		init();
     		function init(){
     			var x = json;

     			var imagenes = $.map(x, function(el) { return el; })

     			car = $('.car').ThreeSixty({
				    totalFrames: 37, // Total no. of image you have for 360 slider
				    endFrame: 37, // end frame for the auto spin animation
				    currentFrame: 1, // This the start frame for auto spin
				    imgList: '.threesixty_images', // selector for image list
				    progress: '.spinner', // selector to show the loading progress
				    filePrefix: '', // file prefix if any
				    ext: '', // extention for the assets
				    height: 365,
				    width: 400,
				    navigation: true,
				    disableSpin: true, // Default false
				    navigation: false,
				    imagenes:imagenes,
				    responsive:true,



				});

     		}
     	},
     	error:function(jqXHR,textStatus,errorThrown){
			// alert("some error2");
			$(".threesixty_images").html(' ');
			$(".threesixty_images").fadeOut(function(){
				$(this).html('Requesting the 360 has encountered an error.')
				.fadeIn()
			});
			$('.spinner').css({'opacity':'0'});
		}
	}); 
}

$('#v-3d').click(function(event) {
	var csrftoken = $(".token").find('input[name="csrfmiddlewaretoken"]').val();
	var yate = $(this).attr('data-yate');
	threesixty(csrftoken, yate);

});


		$(function () {
  			$('[data-toggle="tooltip"]').tooltip();
  			$('[rel="tooltip"]').tooltip();
		});

			$('.product-details').click(function(event) {

					var csrftoken = $(".token").find('input[name="csrfmiddlewaretoken"]').val();
					var product_id = $(this).attr('data-productid');
					// console.log(product_id);
					var data = {
						product_id: product_id,
						csrfmiddlewaretoken: csrftoken,
					}
					
					$.ajax("{% url 'get_product_details' %}",{
						data:data,
						dataType:'json',
						type:'post',
						cache:false,
						timeout:8000,
						beforeSend: function(json){
							
						},
					 	success: function(json){

						producto = json;
						// console.log(producto['product'][0]['fields']);

					     // console.log('product:' + producto['product'][0]['fields']['name']);
			            _.templateSettings.variable = "producto";	
				 		var template = _.template($( "script.template-product-slide" ).html());   


				 		$(".produc-detail").html(" ");
						$('.produc-detail').html(template(producto));
					

			        	},
			        	error:function(jqXHR,textStatus,errorThrown){
			   		}
			    }); 
			});

		$(' span.single-views').click(function(){
			if (!$(this).hasClass('select-view')){
				$('span.single-views').removeClass('select-view');
				$(this).addClass('select-view');
			}
			else{
				$(this).addClass('select-view');	
			}
			
		});
		


$('.generate-code').click(function(event) {
			event.preventDefault();

			var csrftoken=$(".token").find('input[name="csrfmiddlewaretoken"]').val();
			
			$.ajax("{% url 'generate_code' %}",{
				data:{'csrfmiddlewaretoken':csrftoken},
				type:'post',
				cache:false,
				timeout:8000,
				beforeSend: function(json){
					// console.log(json);
				},
				success: function(json){
			 		// $(".code").html(json);
			 		
			 		var href = "http://{{ request.META.HTTP_HOST }}/code/" + json;
			 		var title = "I´ve configured my {{single_yatch.name}} - check it out!";
			 		var description = "vandutch.com";
			 		// var image = "http://yachts.in:85/media/slideshow/vandutch-55-red-and-vivid-green.jpg";
					$('body').find('.code').html(json);
			 		$('body').find('.a-code').attr('href', href);
			 		$('body').find('.a-code').html(href);
			 		$('body').find('.addthis_toolbox').attr('addthis:url', href);
			 		$('body').find('.addthis_toolbox').attr('addthis:title', title);
			 		$('body').find('.input-code').attr('value',json);

					addthis.update('share', 'url', href); 
					addthis.url = href; 
					addthis.update('share', 'title', title);
					addthis.title = title; 
					addthis.update('share', 'description', description);
					addthis.description = description; 
					addthis.toolbox(".addthis_toolbox");


			 	},
			 	error:function(jqXHR,textStatus,errorThrown){
			 	}
			 });
		});

		
			$('#carousel-example').carousel({
				interval: false
			}); 
			$('#carousel-big').carousel({
				interval: false
			}); 

		$('#btn-big-slide').click(function(){

			$('body').find('#slide-container-big #carousel-example').attr('id','carousel-big');
			$('body').find('#slide-container-big .left').attr('href','#carousel-big');
			$('body').find('#slide-container-big .right').attr('href','#carousel-big');
			var slide_to = $('body').find('#carousel-example .carousel-indicators').find('li.active').attr('data-slide-to');

			$('body').find('#slide-container-big').find('.item.active').removeClass('active');
			$('body').find('#carousel-big').find('.item-'+ slide_to).addClass('active');


			$('body').find('#slide-container-big .carousel-indicators').find('li').each(function(i){
				$(this).attr("data-target", "#carousel-big");	
			});
			$('body').find('#slide-container-big .carousel-indicators').find('li.active').removeClass('active');

			$('body').find('#slide-container-big .carousel-indicators').find('li.indicator-'+slide_to).addClass('active');



		});



			$('.color-details').click(function(event) {

					var csrftoken = $(".token").find('input[name="csrfmiddlewaretoken"]').val();
					var color_id = $(this).attr('data-colorid');
					var data = {
						color_id: color_id,
						csrfmiddlewaretoken: csrftoken,
					}
					$.ajax("{% url 'get_color_details' %}",{
						data:data,
						dataType:'json',
						type:'post',
						cache:false,
						timeout:8000,
						beforeSend: function(json){
							
						},
					 	success: function(json){
						color = json;

			            _.templateSettings.variable = "color";	
				 		var template = _.template($( "script.template-color-slide" ).html());   


				 		$(".color-detail").html(" ");
						$('.color-detail').html(template(color));
					

			        	},
			        	error:function(jqXHR,textStatus,errorThrown){
			   		}
			    }); 
			});










	});


var z = $( window ).width();


$( window ).resize(function() {
  window.onscroll = scroll; //cuando hacemos scroll llamamos a la función
    if(z < 1000){
           		$('body').addClass('small');
      }

       $(document).ready(function() {  
  		 $("#slide-container").swiperight(function() {  
    		  $(this).carousel('prev');  
	    		});  
		   $("#slide-container").swipeleft(function() {  
		      $(this).carousel('next');  
	   });
     	$("#slide-container-big").swiperight(function() {  
		  $(this).carousel('prev');  
    		});  
	   $("#slide-container-big").swipeleft(function() {  
	      $(this).carousel('next');  
   		});  
	}); 
});
	
 	
     		
     	function scroll(){
     		var z = $( window ).width();
           //coge el valor del scroll en pixeles
           var sc = window.pageYOffset; 
           //registramos el valor scroll en la consola por si tenemos que hacer ajustes, saber dónde
           
			
           if(sc > 0 && z < 1000){
           	$('body').addClass('small');
           	$('#s_vis-summary').addClass('less-width');
           	// $('#s_vis.fixRatio').css({'width','39%!important'});
              
           }else if(sc <= 0){
	          if( $('#s_vis-summary').hasClass('less-width')){
	       	   		$('#s_vis-summary').removeClass('less-width');
	      		}
           }
		 }

     



</script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->

{% endblock %}