
{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}
{% block css %}

<link href="{% static 'css/threesixty.css' %}" rel="stylesheet">

<style>

/*@media screen and (min-width: 768px){
	.carousel-control .glyphicon-menu-right, .carousel-control .icon-next {
    	margin-right: -15px;
	}

	.carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
	}
}*/

.arrow:hover{color: #C00;opacity: 1;text-decoration: none}
.arrow{

	font-size: 3.45rem;
	width: 3.5rem;
	height: 60%;
	position: absolute;
	top: 20%;
	cursor: pointer;
	color: #CCC;
	background-color: transparent;
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: all 0.35s linear 0s;
}

.arrow.left{
	left: 0.5rem;
	padding-right: 4%;
}

/*right*/
.arrow.right{
	right: 0.5rem;
	/*padding-left: 4%;*/
}
.threesixty {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
.threesixty .threesixty_images {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
}
.threesixty .threesixty_images img {
	position: absolute;
	/*top: 0;*/
	width: 100%;
	height: auto;
}
.threesixty .threesixty_images img.previous-image {
	visibility: hidden;
	width: 0;
}
.threesixty .threesixty_images img.current-image {
	visibility: visible;
	width: 100%;
}
.threesixty .spinner {
	width: 60px;
	display: block;
	margin: 0 auto;
	height: 30px;
	background: #333;
	background: rgba(0, 0, 0, 0.7);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.threesixty .spinner span {
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: #FFF;
	text-align: center;
	line-height: 30px;
	display: block;
}
.threesixty .nav_bar {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 11;
}
.threesixty .nav_bar a {
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	background: url(/assets/sprites.png) no-repeat;
	text-indent: -99999px;
}
.threesixty .nav_bar a.nav_bar_play {
	background-position: 0 0 !important;
}
.threesixty .nav_bar a.nav_bar_previous {
	background-position: 0 -73px !important;
}
.threesixty .nav_bar a.nav_bar_stop {
	background-position: 0 -37px !important;
}
.threesixty .nav_bar a.nav_bar_next {
	background-position: 0 -104px !important;
}
/* html */
.threesixty:-webkit-full-screen {
	background: #ffffff;
	width: 100%;
	height: 100%;
	margin-top: 0;
	padding-top: 200px;
}
.threesixty:-moz-full-screen {
	background: #ffffff;
	width: 100%;
	height: 100%;
	margin-top: 0;
	padding-top: 200px;
}



@media screen and (max-width: 767px){
	.navbar-header button{
		margin-right: 5%!important;
	}
	.navbar-inverse .navbar-brand{
		margin-left: 5%!important;
	}

}


@media screen and (min-width: 768px){
	.navbar-nav{margin-left: 10px!important;margin-bottom: 0px!important; margin-top: 0px!important}

}

/*
.carousel-control .glyphicon-menu-right, .carousel-control .icon-next {
    right: 50%;
    margin-right: -10px;
}

.carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right, .carousel-control .icon-next, .carousel-control .icon-prev{
	position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}*/
</style>
{% endblock %}
{% block content %}

<section id="s_conf_submenu">
	<div class="flyout-label">
		<div class="flyout-label-value">
			<span class="icon-flecha-abajo-01 span-overview" aria-hidden="true"></span> Overview
		</div>
	</div>	
</section>

<section id="main-section">

	<div id="main" class="fist-section">
		<div id="switchSize" data-toggle="tooltip" title="Increase Option List" class="white-tooltip normal-size" data-placement="right"><span  class="normal-view"></span>
		</div>

		<div id="s_vis" class="fixRatio">
		<!-- <div id="canvasloader-container" class="wrapper"></div> -->
			<div id="slide-container">
				<!--<div id="spinner" class="spinner" style="display:none;">
    				<img id="img-spinner" src="{%static ''%}spinner.gif" alt="Loading"/>
    			</div>	 -->
    			

    			<div id="carousel-example" class="carousel carousel-fade slide" >
    				<ol class="carousel-indicators">
    					{% for slide in slides_slideshow %}
    					<li data-target="#carousel-example" data-slide-to="{{forloop.counter0}}" class="{% if forloop.first %} active {% endif %} indicator-{{forloop.counter0}}"></li>
    					{%endfor%}
    				</ol>
    				<div class="carousel-inner">
    					{% for slide in slides_slideshow %}
    					<div class="item {% if forloop.first %} active {% endif %} item-{{forloop.counter0}}">
    						<img src="{{ slide.image.url }}" alt="">
    					</div>
    					{% endfor %}
    					<a class="arrow left" href="#carousel-example" role="button" data-slide="prev">
    						<span class="icon-flecha-izquierda-01" aria-hidden="true"></span>
    						<span class="sr-only">Previous</span>
    					</a>
    					<a class="arrow right" href="#carousel-example" role="button" data-slide="next">
    						<span class="icon-flecha-derecha-01" aria-hidden="true"></span>
    						<span class="sr-only">Next</span>
    					</a>
    					
    				</div>
    				<div data-toggle="modal" data-target=".bg-slide" id="btn-big-slide"></div>

    			</div>
    		</div>
    		<div class="three" style="display:none">
    			<div class="threesixty car">
    				<div class="spinner">
    					<span>0%</span>
    				</div>
    				<ol class="threesixty_images"></ol>
    			</div>
    		</div>


    	</div>
    	<div id="s_vis_separator"></div>
    	<div class="wrpVis views-yachts">
    		<section id="s_visCntrl" class="btnList search-enabled">	
    			<span  data-toggle="modal" data-target=".threesixty-modal" id="v-3d"  data-yate="{{single_yatch.pk}}" rel="tooltip" class="white-tooltip " title="360  View"></span>
    			<span class="delim clearfix">|</span>
    			<span data-target="#carousel-example" data-slide-to="0" id="view-aerial" data-toggle="tooltip" title="Aerial View" class="views-aerial white-tooltip single-views select-view"></span>				
    			<span class="delim clearfix">|</span>
    			
    			<span  data-target="#carousel-example" data-slide-to="1" id="view-exterior" data-toggle="tooltip" title="Exterior View" class="views-ext white-tooltip single-views "></span>	
    			<span class="delim clearfix">|</span>
    			<span data-target="#carousel-example" data-slide-to="2" id="view-interior" data-toggle="tooltip" title="Interior View" class="views-int white-tooltip single-views "></span>
    		</span>
    	</section>
    	<section >
    		<p>* All information is subject to change without notice. Only an actual invoice issued at the time a yacht is sold from an authorized VanDutch Center may be used as an official indication of equipment and pricing.</p>
    	</section>
    </div>

</div>
<section id="second-section">
	<div id="s_conf"  style="position:relative">
	<div id="bottom">
		<a href="#Interior" id="bottom-link">
			<span class="text-center icon-flecha-abajo-01">
			</span>
		</a>
	</div>
			<!--<div class="bg-azul clic-toggle">
				<h1 class="padding-20"> | Overview</h1>
			</div> -->
			
			<div class="toggle right-color-panel">
				<section class="container-fluid" >
					<div class="row">


						{% for cat in  categories %}
						<div id="{{cat.0}}" > 
							{%with ct=cat.0 %}
								<div class="clic-toggle down">
								<p>

									<h2 class="padding-10 cat-{{forloop.counter}} title-categories" >{{cat.0}} Color<span class="float-right icon-flecha-arriba-01
										" aria-hidden="true"></span></h2>
									</p>

								</div><!--clic-toggle-->
								<div class="toggle cat-color{{forloop.counter}}">

									{% for x in cat.1 %}
									<div class="clic-toggle">
										<h3 class="title-l4 padding-5">{{x.0}}</h3>
									</div>
									<div class="toggle">
										{% for y in x.1 %}
										<span  data-toggle="tooltip" data-placement="top"  title="{{y.name}}" data-category="{{y.color_category.id}}" data-type-category="{{y.color_category.color_type_category.id}}" data-id="{{y.pk}}"   data-yate="{{single_yatch.pk}}" class="color white-tooltip" style="background-color:{{y.code}}">
											
											{% if y.pk|selected_color:categories_selected %}
											<span class="selected-icon " style="display:block" ></span>
											{% else %}
											<span class="selected-icon " style="display:none" ></span>
											{% endif %}
										</span>
										{% endfor %}

									</div><!--toggle-->
									{% endfor %}

								</div><!--toggle-->
								{% endwith %}
							</div>
							{% endfor %}

						</div>

					</section>
					
					<section id="options" class="">
						<div class="clic-toggle down">
							<h2 class=" padding-10 options-sticky title-categories">Options <span class="float-right icon-flecha-arriba-01
								" aria-hidden="true"></span></h2>
							</div>

							{% for cat in  products_categories %}
							<div class="toggle">

								<section id ="{{cat.0}}" class="container-fluid" >
									<div class="row">
										<div class="clic-toggle down">
											<h2 class="padding-10 title-categories bg-white">{{cat.0}}<span class="float-right icon-flecha-arriba-01" aria-hidden="true"></span></h2>
										</div><!--clic-toggle-->

										<div class="toggle">
											{% for x in cat.1 %}

											<div class="category-option clic-toggle">
												{# <h3 class="title-l4 padding-5">{{x.0}}</h3> #}
											</div>

											<div class="content toggle">
												<div class="options">
													{% for y in x.1 %}
													
													<div id="{{y.id}}" class="opt">
														<div class="form-group text-center">
														<span>{{y.name}}</span>

														<a data-toggle="modal" data-target=".produc-detail" rel="tooltip" data-productid = "{{y.id}}" title="Show More Information" class="product-details white-tooltip"><span class="flaticon-information43 "></span></a>

														{% if y.id|selected_product:options %}
														<input data-productid = "{{y.id}}" type = "checkbox" id = "item-{{y.id}}" data-yate="{{single_yatch.pk}}" name = "item-{{y.name}}" class = "checkbox option_product" checked="checked" >
														<label for="item-{{y.id}}" style="float:left!important">
														<span ></span>
														{% else %}
														<input data-productid = "{{y.id}}" type = "checkbox" id = "item-{{y.id}}" data-yate="{{single_yatch.pk}}" name = "item-{{y.name}}" class = "checkbox option_product">
														<label for="item-{{y.id}}" style="float:left!important">
															<span></span>
															{% endif %}
														</div>
													</div>
													{% endfor %}
												</div>
											</div><!--toggle-->
											{% endfor %}
											
										</div><!--toggle-->
										{% endfor %}
										<div class=" text-center space-20">
											<a href="{%url 'summary' single_yatch.pk %}" class=" btn-summary btn btn-primary text-center" >Show Summary <span class="glyphicon glyphicon-menu-right
												"></span></a>
											</div>
										</div>
									</section>


								</div><!--toggle-->

							</div><!--toggle-->



							{% for cat in  yate_characteristic %}
							<div class="modal fade" id="cat-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
							<div class="vertical-alignment-helper">

								<div class="modal-dialog modal-lg vertical-align-center">

									<div class="modal-content">
																		<div class="modal-header">
										<div class="header-container">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="gridSystemModalLabel">{{cat.0}}:{{single_yatch}}</h4>	
										</div>
									</div>
										<div class="contenedor">
											<div class="table-responsive">
												<table class="table">
													{% for x in cat.1 %}
													<thead>
														<tr>
															<th><h3 class="title-l6 padding-top">{{x.0}}</h3></th>
														</tr>
													</thead>
													<tbody>
														{% for y in x.1 %}
														<tr>
															<td><h3 class="title-l4"></h3>{{y.name}}{{y.value}}</td>
														</tr>
														{% endfor %}
													</tbody>
													{% endfor %}
												</table>
											</div>
										</div>
									</div>
								</div>
								</div>
						</div>
							{% endfor %}

					<div class="modal fade bg-slide" tabindex="-1" role="dialog" aria-labelledby="Slide">
						<div class="vertical-alignment-helper">
							<div class="modal-dialog modal-lg vertical-align-center">
							      

								<div class="modal-content">
								  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>		
									<div id="slide-container-big">			
										<div id="carousel-big" class="carousel slide" data-ride="carousel">
											<ol class="carousel-indicators">
												{% for slide in slides_slideshow %}
												<li data-target="#carousel-example" data-slide-to="{{forloop.counter0}}" class="{% if forloop.first %} active {% endif %} indicator-{{forloop.counter0}}"></li>
												{%endfor%}
											</ol>
											<div class="carousel-inner">
												{% for slide in slides_slideshow %}
												<div class="item {% if forloop.first %} active {% endif %} item-{{forloop.counter0}}">
													<img src="{{ slide.image.url }}" alt="">
												</div>
												{% endfor %}
												<a class="arrow left" href="#carousel-big" role="button" data-slide="prev">
													<span class="icon-flecha-izquierda-01" aria-hidden="true"></span>
													<span class="sr-only">Previous</span>
												</a>
												<a class="arrow right" href="#carousel-big" role="button" data-slide="next">
													<span class="icon-flecha-derecha-01" aria-hidden="true"></span>
													<span class="sr-only">Next</span>
												</a>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


<!--<div class="modal fade modal-product-detail" tabindex="-1" role="dialog" aria-labelledby="Slide">
</div>-->
<div class="modal fade produc-detail" tabindex="-1" role="dialog" aria-labelledby="Slide">

</div>





<div class="token">
	{% csrf_token %}
</div>

</div>
</section>


</section>

{% endblock %}

{% block js %}

{% include "includes/slide_js.html" %}
{% include "includes/product_detail_js.html" %}
<script src="{% static 'js/underscore-min.js' %}"></script>
<!--menu--> 	
<script src="{% static 'js/stickUp.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>

<!-- threesixty-->
<script src="{% static 'js/threesixty/heartcode-canvasloader-min.js' %}"></script>
<script src="{% static 'js/threesixty/threesixty.js' %}"></script>

<script>
	function isNumber(n) {
		return !isNaN(parseFloat(n)) && isFinite(n);
	}
	$('body').on('click','#btn-big-slide',function(evt){
		evt.preventDefault();
		$('body').find('#slide-container-big #carousel-example').attr('id','carousel-big');
		$('body').find('#slide-container-big .left').attr('href','#carousel-big');
		$('body').find('#slide-container-big .right').attr('href','#carousel-big');
		var slide_to = $('body').find('#carousel-example .carousel-indicators').find('li.active').attr('data-slide-to');

		$('body').find('#slide-container-big').find('.item.active').removeClass('active');
		$('body').find('#carousel-big').find('.item-'+ slide_to).addClass('active');


		$('body').find('#slide-container-big .carousel-indicators').find('li').each(function(i){
			$(this).attr("data-target", "#carousel-big");	
		});
		$('body').find('#slide-container-big .carousel-indicators').find('li.active').removeClass('active');

		$('body').find('#slide-container-big .carousel-indicators').find('li.indicator-'+slide_to).addClass('active');
	});




	$(document).ready(function(){

		$('li a').on('click', function (e) {
			var targetSec = $(this).attr('href');
			$('html, body').animate({
				scrollTop: ($(targetSec).offset().top)-155
			}, 500);
		});
		$('#bottom-link').on('click', function (e) {
			var targetSec = $(this).attr('href');
			$('html, body').animate({
				scrollTop: ($(targetSec).offset().top)-155
			}, 500);
		});



	window.onscroll = scroll; //cuando hacemos scroll llamamos a la función
     var x = $( window ).width();
     if (x <= 1000 ){
     
     	$('body').addClass('small-vis');
     	$('.views-yachts').css({'display':'none'});
     	// $('.clic-toggle').trigger('click');
     	
     // 	setTimeout(function() {

     //    // $("#Exterior > .clic-toggle").trigger('click');
     //    // $("#Interior > .clic-toggle").trigger('click');
     //    // $("#options > .clic-toggle").trigger('click');


    	// },2);
     }else{
     	
     	$(".cat-1").sticky({ topSpacing: 160, center:true, className:"sticky" })
     	$(".cat-2").sticky({ topSpacing: 160, center:true, className:"sticky" })
     	$(".options-sticky").sticky({ topSpacing: 160, center:true, className:"sticky" })
     	
     }

	// small-vis
	

	$('.cat-color1 .toogle .color').click(function(){

	});
	$('.clic-toggle').click(function(){

		if($(this).hasClass('down')){
			$(this).find('span').removeClass('icon-flecha-arriba-01');
			$(this).find('span').addClass('icon-flecha-abajo-01');
			$(this).removeClass('down');
			$(this).addClass('up')
		}else if ($(this).hasClass('up') ){
			$(this).find('span').removeClass('icon-flecha-abajo-01');
			$(this).find('span').addClass('icon-flecha-arriba-01');
			$(this).removeClass('up');
			$(this).addClass('down')
		}
		$(this).next('.toggle').slideToggle();

	});
	$(".fancy").fancybox();
	$('.cat-color1 .toggle .color').click(function(){
	  			// $('#view-aerial').trigger( "click" );
				var id=$(this).attr('data-id');
				if(!$(this).hasClass('selected')){
					$('.cat-color1 .toggle .color').removeClass('selected');
					$('.cat-color1 .toggle .color span').css({'display':'none'});
					$(this).addClass('selected');
				}
			
			});
	$('.cat-color2 .toggle .color').click(function(){
				$('canvasloader-container').show();


					if( !($('body').find('#v-3d').hasClass('selected')) ){
		 				$('html, body').animate({
							scrollTop: ($('#Interior').offset().top)-155
						}, 500);
 					}
				

				if(!$(this).hasClass('selected')){
					$('.cat-color2 .toggle .color').removeClass('selected');
					$('.cat-color2 .toggle .color span').css({'display':'none'});
					$(this).addClass('selected');
				} 
				var id = $(this).attr('data-id');
			});

	$('.color').click(function(event) {
		 if($(this).parent().parent().hasClass('cat-color1')){

        	var cexterior = $('.cat-color1 .color.selected').attr('data-original-title');
        	document.getElementById('cexterior').value = cexterior;
        	// console.log(cexterior);

        	
        }else{
        	
			var cinterior = $('.cat-color2 .color.selected').attr('data-original-title');
			document.getElementById('cinterior').value = cinterior;

        	// console.log(cinterior);

        }
		var category2  = $(this).parent('div').parent('div').parent('div').attr('id');
		console.log('category2');
		console.log(category2);
		var bullet_selected = $('body').find('.carousel-indicators li.active').attr('data-slide-to');
		console.log('bullet_selected');
		console.log(bullet_selected);
		var csrftoken=$(".token").find('input[name="csrfmiddlewaretoken"]').val();
		var color_category = $(this).attr('data-category');
		var color_type_category = $(this).attr('data-type-category');
		var color_id = $(this).attr('data-id');
		var yate = $(this).attr('data-yate');
		var categories_selected = 'categories_selected';
		// $('#canvasloader-container').show();
		var data= {
			yacht_id:yate,
			typeCategory: color_type_category,
			category: color_category,
			color_id:color_id,
			csrfmiddlewaretoken: csrftoken,
			summary_type:categories_selected,

		}
		$.ajax("{% url 'update_summary' %}",{
			data:data,
			type:'post',
			cache:false,
			timeout:8000,
			beforeSend: function(json){
				
			},
			success: function(json){

				if(json.data_fail== "fail"){

		 			//Html de no encontrado
		 			
		 			$("#slide-container").html(" ");
		 			$("#slide-container").fadeOut(function(){
		 				$("#slide-container").html('Requesting the image has encountered an error.').fadeIn();
		 			});
		 			$("#slide-container-big").html(" ");
		 			$("#slide-container-big").html('Requesting the image has encountered an error.').fadeIn();

		 		}
		 		else{
		 			if( $('body').find('#v-3d').hasClass('selected') ){
		 				var csrftoken = $(".token").find('input[name="csrfmiddlewaretoken"]').val();
		 				var yate = $('body').find('#v-3d').attr('data-yate');
		 				threesixty(csrftoken, yate);
 					}

			 		setTimeout(function(){
			 			// $('#canvasloader-container').hide();
					   var data = {"slides":json.data_slides, "category": category2, "numero":bullet_selected};
					   console.log(data);
				 		_.templateSettings.variable = "data";
				 		var template = _.template($( "script.template-slide" ).html());   
				 		$("#slide-container").html("");
			            $("#slide-container-big").html(" ");
			            $("#slide-container-big").fadeOut(function(){
			            	$(this).html(template(data)).fadeIn();
			            });
			            $('#slide-container').html(template(data));
					}, 1000);
			 		
		        }
		    },
		    error:function(jqXHR,textStatus,errorThrown){

		    }
		}); 
	});


	$('.option_product').click(function(event) {
		var self = $(this);
		var cmd = '';
		
		if(this.checked){
			self.parent().find('input.quantity').val("1");
			cmd = 'add';
		}
		else{
			cmd = 'delete';
			self.parent().find('input.quantity').val("");
		}
		var csrftoken = $(".token").find('input[name="csrfmiddlewaretoken"]').val();
		var product_id = $(this).attr('data-productid');
		var yacht = $(this).attr('data-yate');
				var qty = 1;
				var summary_type = 'options';
				var data= {
					yacht_id: yacht,
					csrfmiddlewaretoken: csrftoken,
					product_id: product_id,
					product_qty: qty,
					summary_type: summary_type,
					cmd: cmd
				}
				$.ajax("{% url 'update_summary' %}",{
					data:data,
					type:'post',
					cache:false,
					timeout:8000,
					beforeSend: function(json){
					},
					success: function(json){
					},
					error:function(jqXHR,textStatus,errorThrown){

					}
				}); 
			});


	$('#v-3d').click(function(){
		$(this).toggleClass('selected');
		$(this).parent().toggleClass('v3d');
	});

	$('#v-3d').click(function(){
		var span_active = $('#s_visCntrl .single-views.select-view').attr('id');
		if ($(this).hasClass('selected')){

			$('body').find('#slide-container').fadeOut('slow/400/fast', function() {});
			$('body').find('.three').css('display','block');
			$('#s_visCntrl .single-views.select-view').removeClass('select-view');
			

		}else{

			$('body').find('.three').css('display','none');
			$('body').find('#slide-container').fadeIn('slow/400/fast', function() {});
			
			$('#s_visCntrl #'+span_active).addClass('select-view');
			var li_active = $('.carousel-indicators').find('li.active').attr('data-slide-to');
			if(li_active == 0){
				$('#view-aerial').addClass('select-view');
			}else if(li_active == 1){
				$('#view-exterior').addClass('select-view');
			}else{
				$('#view-interior').addClass('select-view');
			}
		}
	});
	$('.single-views').click(function(){
		if ($('body').find('#v-3d').hasClass('selected')){
				$('body').find('.three').css('display','none');
				$('body').find('#v-3d').removeClass('selected')
			$('body').find('#slide-container').fadeIn('slow/400/fast', function() {});
		}
	});



	function threesixty(csrftoken, yate) {
	    var csrftoken2 ='';
	    var yate2 ='';
	    csrftoken2=csrftoken;
	    yate2 = yate
	    var data = {
	    	yacht_id:yate2,
	    	csrfmiddlewaretoken: csrftoken2,
	    }
	    $.ajax("{% url 'get_slides_360' %}",{
	    	data:data,
	    	type:'post',
	    	cache:false,
	    	timeout:8000,
	    	beforeSend: function(json){

	    	},
	    	success: function(json){
	     		$('.threesixty_images').html('');
	     		$('.spinner').css({'opacity':'1'});

	     		init();
	     		function init(){
	     			var x = json;

	     			var imagenes = $.map(x, function(el) { return el; })

	     			car = $('.car').ThreeSixty({
					    totalFrames: 37, // Total no. of image you have for 360 slider
					    endFrame: 37, // end frame for the auto spin animation
					    currentFrame: 1, // This the start frame for auto spin
					    imgList: '.threesixty_images', // selector for image list
					    progress: '.spinner', // selector to show the loading progress
					    filePrefix: '', // file prefix if any
					    ext: '', // extention for the assets
					    height: 365,
					    width: 400,
					    navigation: true,
					    disableSpin: true, // Default false
					    navigation: false,
					    imagenes:imagenes,
					    responsive:true,



					});

	     		}
	     	},
	     	error:function(jqXHR,textStatus,errorThrown){
				// alert("some error2");
				$(".threesixty_images").html(' ');
				$(".threesixty_images").fadeOut(function(){
					$(this).html('Requesting the 360 has encountered an error.')
					.fadeIn()
				});
				$('.spinner').css({'opacity':'0'});
			}
		}); 
}

$('#v-3d').click(function(event) {
	var csrftoken = $(".token").find('input[name="csrfmiddlewaretoken"]').val();
	var yate = $(this).attr('data-yate');
	threesixty(csrftoken, yate);

});



$('.product-details').click(function(event) {
	var csrftoken=$(".token").find('input[name="csrfmiddlewaretoken"]').val();
	var product_id = $(this).attr('data-productid');
	var yacht_id = $(this).attr('data-yate');

	var data = {
		product_id: product_id,
		csrfmiddlewaretoken: csrftoken,

	}
	var checked = $('#item-'+product_id).prop('checked');

	if ( checked ) {
		checked = '1';
	}else{
		checked = '0';
	}

	$.ajax("{% url 'get_product_details' %}",{
		data:data,
		dataType:'json',
		type:'post',
		cache:false,
		timeout:8000,
		beforeSend: function(json){

		},
		success: function(json){
			producto = json;
			// console.log(producto['product'][0]['fields']);
			var data ={'product':producto,'check':checked }
		     // console.log('product:' + producto['product'][0]['fields']['name']);
		     _.templateSettings.variable = 'data';	
		     var template = _.template($( "script.template-product-slide" ).html());   
		     $(".produc-detail").html(" ");
		     $('.produc-detail').html(template(data));
		 },
		 error:function(jqXHR,textStatus,errorThrown){
		 }
		}); 
});


$('input.quantity').keyup(function() {
	var self = $(this);
	var csrftoken=$(".token").find('input[name="csrfmiddlewaretoken"]').val();
	var product_id = $(this).parent().parent().find("input.option_product").attr("data-productid");
	var yacht_id = $(this).parent().parent().find("input.option_product").attr("data-yate");
	
	var qty = self.val();
	var summary_type = 'options';
	var cmd="update";
				//console.log("qty: " + qty + "productid: " + product_id + "cmd: " +  cmd);
				var data= {
					csrfmiddlewaretoken: csrftoken,
					product_id: product_id,
					product_qty: 1,
					summary_type: summary_type,
					yacht_id:yacht_id,
					cmd: cmd
				}

				self.parent().find("input.option_product").prop('checked', true);
				if(isNumber(qty)){
					$.ajax("{% url 'update_summary' %}",{
						
						data:data,
						type:'post',
						cache:false,
						timeout:8000,
						beforeSend: function(json){
							
						},
						success: function(json){
							
						},
						error:function(jqXHR,textStatus,errorThrown){

						}
					}); 
				}
				else{
					self.parent().find("input.option_product").prop('checked', false);
					alert("Ingrese un digito")
					
				}
			});

});

</script>
<script>

	jQuery(function($) {

		$(document).ready( function() {

			$('#carousel-example').carousel({
				interval: false
			}); 
			$('#carousel-big').carousel({
				interval: false
			}); 

			$('.views-yachts span.single-views').click(function(){
				if (!$(this).hasClass('select-view')){
					$('.views-yachts span.single-views').removeClass('select-view');
					$(this).addClass('select-view');
				}
				else{
					$(this).addClass('select-view');	
				}

			});

			


			$('.main-menu').stickUp({
				parts: {
					0:'Exterior',
					1:'Interior',
					2: 'options',
				},
				itemClass: 'menuItem',
				itemHover: 'active',
				// topMargin: 'auto'
			});
		});


	});
	$('#switchSize').click(function(){
		$('body').toggleClass('small-vis');
		if (($(this).hasClass('normal-size')) ){
			$(this).attr('data-original-title','Increase Yacht Picture');
			
			$(this).removeClass('normal-size');
			$(this).addClass('extend-size');
			$('#main').css({'width':'29%'});
			$('#s_conf').css({'width':'59%', 'margin-left':'35.5%'});
			$('h2.title-categories').css({'width':'100%!important'});
			$('#s_conf_submenu').css({'width':'59%', 'left':'35.5%'});
			$('.flyoutopener').css({'display':'block'});
			$('.groupItems').css({'display':'none'});
			$('#modelinfo').removeClass('open');
		}else{
			$(this).removeClass('extend-size')
			$(this).addClass('normal-size');
			$('#main').css({'width':'59%'});
			$('#s_conf').css({'width':'29%', 'margin-left':'65.5%'});
			$('#s_conf_submenu').css({'width':'29%', 'left':'65.5%'});
			$('.flyoutopener').css({'display':'none'});
			$('.groupItems').css({'display':'block'});
			$('#modelinfo').removeClass('open');
			$('#detail-characteristics').css({'display':'none'});
			$(this).attr('data-original-title','Increase Option List');
			

		}

	});

	$('#detail-characteristics').click(function(){
		$('body').find('.groupItems').css({'display': 'block'});
		$('#modelinfo').toggleClass('open');
	});


	$(".destination-item").click(function(e){
		e.preventDefault();
		var target = $(this).data("target");
		$('html, body').animate({scrollTop: $(target).offset().top+60}, '500', 'linear');
	});


	


$('body').on('click','.switch',function(evt){
	if (!$(this).parent().hasClass('selected')){
		$('body').find('switch.selected').removeClass('selected');
		$(this).parent().addClass('selected');
	}else{
		$(this).parent().removeClass('selected');
	}
	evt.preventDefault();
	var id = $(this).attr('data-id');
	$('#item-'+id).click();
	


});

$('.generate-code').click(function(event) {
			event.preventDefault();

			var csrftoken=$(".token").find('input[name="csrfmiddlewaretoken"]').val();
			
			$.ajax("{% url 'generate_code' %}",{
				data:{'csrfmiddlewaretoken':csrftoken},
				type:'post',
				cache:false,
				timeout:8000,
				beforeSend: function(json){
					
				},
				success: function(json){
					
			 		// $(".code").html(json);
			 		
			 		var href = "http://{{ request.META.HTTP_HOST }}/code/" + json;
			 		var title = "I´ve configured my {{single_yatch.name}} - check it out!";
			 		var description = "vandutch.com";
			 		// var image = "http://yachts.in:85/media/slideshow/vandutch-55-red-and-vivid-green.jpg";
					$('body').find('.code').html(json);
			 		$('body').find('.a-code').attr('href', href);
			 		$('body').find('.a-code').html(href);
			 		$('body').find('.addthis_toolbox').attr('addthis:url', href);
			 		$('body').find('.addthis_toolbox').attr('addthis:title', title);
			 		$('body').find('.input-code').attr('value',json);

					addthis.update('share', 'url', href); 
					addthis.url = href; 
					addthis.update('share', 'title', title);
					addthis.title = title; 
					addthis.update('share', 'description', description);
					addthis.description = description; 
					addthis.toolbox(".addthis_toolbox");


			 	},
			 	error:function(jqXHR,textStatus,errorThrown){
			 		// console.log("error:" + errorThrown);
			 	}
			 });
		});




// $( window ).resize(function() {

// 	var z = $(window).width();
// 	if(z < 1000){
// 		$('#carousel-example').click(function(){
// 			$('#btn-big-slide').trigger( "click" );
// 		});
// 	}
	
// });

window.onscroll = scroll; //cuando hacemos scroll llamamos a la función


var z = $(window).width();
	if (z >768){
		$("[rel='tooltip']").tooltip();
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		});
	}

function scroll(){
	var z = $(window).width();

           //coge el valor del scroll en pixeles
           var sc = window.pageYOffset; 
           //registramos el valor scroll en la consola por si tenemos que hacer ajustes, saber dónde
           
           // console.log(sc);
           if(sc > 0 && z < 1000){
           	$('#s_vis').addClass('less-width');
           	// $('#s_vis.fixRatio').css({'width','39%!important'});
           }else if(sc <= 0){
           		$('#bottom').removeClass('height-bottom');
           		$('#bottom').addClass('height-0');
           		if( $('#s_vis').hasClass('less-width')){
           			$('#s_vis').removeClass('less-width');

           		
           		}
           }else if(sc > 10 && sc < 300){
           		$('#bottom').addClass('height-bottom');
           		$('#bottom').removeClass('height-0');

           }
           else if(sc > 300){
           		$('#bottom').removeClass('height-bottom');
           		$('#bottom').addClass('height-0');

           }

       }
       
       $(document).ready(function() {  
       	$("#carousel-example").swiperight(function() {  
       		$(this).carousel('prev');  
       	});  
       	$("#carousel-example").swipeleft(function() {  
       		$(this).carousel('next');  
       	});
       	$("#slide-container-big").swiperight(function() {  
       		$(this).carousel('prev');  
       	});  
       	$("#slide-container-big").swipeleft(function() {  
       		$(this).carousel('next');  
       	});


		$("body").on("click",".indicator-0", function(){
		  $('#view-aerial').trigger( "click" );
		});
		$("body").on("click",".indicator-1", function(){
		  $('#view-exterior').trigger( "click" );
		});
		$("body").on("click",".indicator-2", function(){
		  $('#view-interior').trigger( "click" );
		});
		       	// $('.indicator-0').click(function(){
       		
       	// });
       	// $('.indicator-1').click(function(){
       	// 	$('#view-exterior').trigger( "click" );
       	// });
       	// $('.indicator-2').click(function(){
       	// 	$('#view-interior').trigger( "click" );
       	// });

       	

       });  
       
   </script>






   {% endblock %}
