@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
html, body{
	width: 100%;
	overflow-x: hidden;
}

body{font-size: 14px;font-weight: normal; font-family: 'Open Sans', sans-serif!important;color: #000}


/*--------------------------------------------------------------
	home - main
	--------------------------------------------------------------*/
	.normal-size .normal-view{
		background-image: url('../images/iconos/icon-increase-list.png');background-repeat: no-repeat;background-position: center;
		height: 2.625rem;
		width: 2.625rem;
		display: block
	}
	.normal-size .normal-view:hover{
		background-image: url('../images/iconos/icon-increase-list-hover.png');background-repeat: no-repeat;background-position: center;

	}
	.extend-size .normal-view{
		background-image: url('../images/iconos/icon-increase-car.png');background-repeat: no-repeat;background-position: center;
		height: 2.625rem;
		width: 2.625rem;
		display: block
	}
	.extend-size .normal-view:hover{
		background-image: url('../images/iconos/icon-increase-car-hover.png');background-repeat: no-repeat;background-position: center;

	}
	#modelinfo.open .groupItems span.delim{display: none}

	.flyoutopener{
		display: block;
		padding: 0.8125rem 0px;
		margin-right: 5px;
	}
	.small-vis .groupItems{display: none!important}
	#modelinfo.open .groupItems{
		display: block!important;
		min-width: 220px;
		background-color: #FFF;
		position: absolute;
		left: 1rem;
		border: 1px solid #CCC;
		padding: 0.5rem 1.5rem 0.5rem 1rem;
	}
	#modelinfo .flyoutopener{display: none}
	.small-vis #modelinfo .groupItems{display: none}
	#modelinfo .flyoutopener.open + .groupItems{display:block!important;}


	.small-vis #switchSize{top: -3.5rem;}
	#switchSize{cursor: pointer;
		position: absolute;
		right: 0px;
		top: -3.5rem;
		height: 2.625rem;
		width: 2.625rem;
		line-height: 2.625rem;
		box-sizing: border-box;
		border-radius: 0.1875rem;
		display: block;
		text-align: center;
		color: #95989E;
		background-color: #E9E9E9;
		z-index: 999}



		#modelinfo{
			position: absolute;
			top: 90%;
			left: 5.5%;
			font-size: .875rem;
			padding: .8125rem 0;
			padding-right: .25rem;
			flex: 0 0 auto;
			-ms-flex: 0 0 auto;
			-webkit-flex: 0 0 auto;
		}

		#modelinfo ul li {

			display: inline-block;
			padding: .8125rem 0;
		}
		#modelinfo a{color: #060707;text-decoration: none;font-size: 14px!important;}

/*--------------------------------------------------------------
	header
	--------------------------------------------------------------*/

	.home .single-yatch{display: table;min-height: 200px}
	.home .single-yatch .media{display: table-cell;vertical-align: middle}
	

	#s_header{
		top: 0;
		position: fixed;
		left: 0;
		right: 0;
		display: block;
		z-index: 5;
		background-color: #fff;
		height: 7.475rem; 
	}
	#s_header:before {
		content: "";
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #222427;
		height: 3.125em;
		z-index: -1;
	}
	.main-menu a {
		color: #fff;
		display: block;
		text-align: center;
		padding: 0 1.4286em;
		font-size: 16px;
		/*float: left;*/
		cursor: pointer;
		-webkit-transition: all .35s linear;
		-moz-transition: all .35s linear;
		-o-transition: all .35s linear;
		transition: all .35s linear;
	}

	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
		background-color: #ea2626;
		color: #fff;

	}

	.navbar{border: none}
	a:focus, a:hover{color:#ea2626;text-decoration: none!important}


/*--------------------------------------------------------------
	home - general
	--------------------------------------------------------------*/
	#border-gray{text-align: right}
	.block{display: block!important}
	.small-vis #main{
		top: 10.875rem;
	}
	#main {
		position: fixed;
		left: 5.2%;
		width: 59%;
		box-sizing: border-box;
		top: 11.025rem;
		/*bottom: 2.5em;*/
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-direction: column;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
/*			-webkit-transition: all .3s linear;
		-moz-transition: all .3s linear;
		-o-transition: all .3s linear;
		transition: all .3s linear;*/
	}
	#s_conf {
		position: relative;
		box-sizing: border-box;
		width: 29%;
		padding-top: 10.125rem;
		margin-left: 65.5%;
		/*overflow: hidden;*/
	}
	#fist-section{
		margin-top: 250px;
		width:100%;
		height: 100%;
		position: relative;
	}
	.header-yatch{
		position: fixed;
		display: block;
		margin-top: 80px;
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		font-size: 1.5rem;
		/*padding-top: 1.25rem;*/
		padding-bottom: .5rem;
		margin: 7.5% 5.5%;

	}
	.small-vis #s_visCntrl{text-align: center!important;}
	.selected-icon{
		background-image: url('../images/iconos/checked-icon.png');background-repeat: no-repeat;background-position: center;
		width: 20px;
		height: 20px;
		position: absolute;
		bottom: 0;
		border-radius: 100%;
		right: 0;
		border:2px solid #fff;
	}

.ctrls-3d span{width: auto!important;height: auto!important; margin: 0px 5px;display: none}
.summary #s_vis_separator{margin-top: 0px!important}
/*--------------------------------------------------------------
	home - second-section
	--------------------------------------------------------------*/
	span.quantity{
		text-align: right;
	}

	.product-details{
		display: inline-block;
		border: 1px solid #CCC;
		border-radius: 100%;
		line-height: 1.75rem;
		background-color: #FFF;
		color: #222427;
		height: 1.75rem;
		width: 1.75rem;
		text-align: center;
		cursor: pointer;
		text-decoration: none!important;
		float: right;
	}


	.info-span:hover{color:#ea2626;}
	.info-span{
		display: inline-block;
		border: 1px solid #CCC;
		border-radius: 100%;
		line-height: 1.75rem;
		background-color: #FFF;
		color: #222427;
		height: 1.75rem;
		width: 1.75rem;
		text-align: center;
		cursor: pointer;
		text-decoration: none!important;
		float: right;
		margin-left: 6px
	}



	.color{height: 40px;width: 40px;display: inline-block;position: relative;}
	
	.cat-color1 .toggle, .cat-color2 .toggle{position: relative}
	.color.selected > span.selected-icon{display: block!important;}

/*--------------------------------------------------------------
	home - carousels
	--------------------------------------------------------------*/



	.carousel-indicators li{display: inline-block;
		width: 8px;
		height: 8px;
		border-radius: 10px;
		background: #999 none repeat scroll 0% 0%;
		margin: 0px 6px 16px;
		cursor: pointer;
		transition: opacity 1s ease-in 0s;
		border:none;

	}

	.carousel-indicators li.active{
		background: #C00 none repeat scroll 0% 0%;
		margin: 0px 6px 16px;
		width: 8px;
		height: 8px
	}



/*--------------------------------------------------------------
	home - summary
	--------------------------------------------------------------*/


	.groupItem a{padding: 0px;text-decoration: none!important}


	.modelinfo.open .groupItems{width: 220px;}

	
	






/*	h1,h2,h3,h4,h5{
		font-weight: bolder!important;
		}*/



/*		.carousel.slide
		{
			box-sizing: border-box;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			}*/

/*--------------------------------------------------------------
	medias queries
	--------------------------------------------------------------*/

/*--------------------------------------------------------------
	size - 600px
	--------------------------------------------------------------*/
	@media only screen and (max-width: 600px){

	}

	@media only screen and (max-width: 600px){
		
		.summary .modal-content .contenedor{    padding: 10px 5%!important;}
		/*#s_conf, .small-vis #s_conf, .summary #s_conf{margin-top: 1.938rem!important}*/
		.header-summary{margin-bottom: 0!important}
		.summary-config{display: none!important}
		.options-container a.edit-item{margin-top: 15px}
		.menu-summary ul li{width: 100%;}
		.menu-summary ul li a{text-align: left}
		.menu-summary ul li a span{float: right}
		#main {
			/*top: 6.938rem!important;*/
			top: 5.4rem!important;
			/*transition: all 0.3s linear 0s;*/
		}
		.header-yatch{
			position: fixed;
			margin-top: 80px;
			width: 100%;
			font-size: 1.5rem;
			padding: 0px 5.5%;
			margin:auto!important;
			margin-top: 40px!important
		}
		.header-yatch h1{
			font-size: 1.188rem!important;
			padding: 1rem 0 .1rem 0;
		}
		#s_header{
			height: 5.475rem;
		}
		.arrow{display: none!important}
	#s_menu{
		margin: 0px!important;
		margin-bottom: 0px;
	}
	.navbar-nav{
		margin-bottom: 0px!important;
	}
	.navigation_contact_mobile{
		display: none!important;
	}
	
	}
	#s_menu{
		margin: 0 5.5%;
	}

	#navigation_main{
		position: absolute;
		right: 0;
		margin: 0;
		height: 50px;
		width: 5.5%;
	}



.summary .groupItem{padding-bottom: 10px}
	
@media screen and (max-width: 767px){
	.navigation_contact_mobile{display: none!important}
}

	@media screen and(min-width: 768px){
	.navbar-nav{margin-left: 10px!important;margin-bottom: 0px!important; margin-top: 0px!important}
	.navbar-nav{margin-left: 10px!important;margin-bottom: 0px!important}
	.navbar-nav>li:first{margin-left: 20px!important}
	.navbar-nav{margin-left: 20px!important}
	}
/*--------------------------------------------------------------
	size - 1000px
--------------------------------------------------------------*/

@media only screen and (max-width: 999px){
	#s_vis.fixRatio{
		width: 100%;
		max-width: 100%;
	    -webkit-transition: all .3s linear;
	    -moz-transition: all .3s linear;
	    -o-transition: all .3s linear;
	    transition: all .3s linear;
		height: auto!important;
		max-height: auto!important;

	}
	.carousel-indicators{display: none}
	.wrpVis{display: none}
	#s_vis_separator{display: none}

	.arrow{opacity: 1!important}
	.item{padding-left: 0px!important;padding-right: 0px!important}


}



	@media only screen and (max-width: 1000px){
	.main-title{font-size: 1.5rem!important;padding-top: 1rem!important;padding-bottom: .5rem;position: fixed}
	.title{
	    width: 100%;
	    display: block;
	    background: #fff;
	    z-index: 999;
	    height: 47px;
	    position: fixed;
	}

		.small-vis #main, #main {
			bottom: auto;
			width: 89%;
			z-index: 1;
			top: 9.025rem;
			background-color: #FFF;
			position: fixed;
		}
		.smallView #main, .summary #main {
			top: 7.25rem;
			border-bottom: 1px solid #FFF;

		}
		.item{
			height: auto !important;
			position: relative;
			box-sizing: border-box;
			padding-right: 2px;
			padding-left: 2px;
		}

		#main, .small-vis #main, .summary #main {
			bottom: auto;
			width: 89%;
			z-index: 1;
			top: 7.125rem;
			/*background-color: #fff!important;*/
			background-color: #fff!important;
			padding-bottom: 10px;
			padding-top: 10px;
			height: auto!important;
			min-height: 115px;
		
		}

		#s_quicksum, #s_conf_submenu, #switchSize {
			display: none;
		}
		#s_vis.fixRatio{
			height: auto;
			max-width: 100%;
			max-height: 100%!important;
			height: 100%!important;
			width: 100%;
			/*margin: 0px 0px 0px auto;*/
			min-width: 0px;
			min-height: 0px;


		}
		#main{
			bottom: auto;
			width: 89%;
			z-index: 1;
			top: 9.125rem;
			background-color: #FFF;
			transition: all 0.2s linear 0s;
		}
		#s_conf, .small-vis #s_conf, .summary #s_conf {
			width: 89%;
			margin-left: 5.5%;
			margin-right: 5.5%;
			padding-top: 55%;
			margin-top: 6.938rem;
			transition: padding-top 0.2s linear 0s;
		}

	}
		@media screen and (min-width: 768px) and (max-width: 1300px){
			/*#s_conf{width: 100%;margin-left: 0px!important}
			#main{width: 100%;position: relative!important}*/

			#main, .small-vis #main, .summary #main{min-height: 160px!important;padding-top: 10px;padding-bottom: 10px}

	}

			body.small-vis .item{min-height: auto!important}
			.summary .carousel-inner, .summary .item{min-height: auto!important}


			.bg-azul{background-color: #374a58;color:#fff;font-size: 18px;font-weight: bold}	
			.padding-20{padding:20px;}
			.padding-10{padding:10px;}
			.padding-5{padding:5px;}
			.title-categories{background-color: #fff;color:#374a58;font-size: 18px;font-weight: bold;border-bottom:1px solid #CCC;cursor: pointer;z-index: 999;font-family: 'Open Sans Condensed', sans-serif;}
			.title-question{background-color: #fff;color:#374a58;font-size: 18px;font-weight: bold;}
			.cat-color1 .title-categories:first-child{border-top:none;}
			.cursor{cursor: pointer}
			.title-l8{color:#374a58;font-size: 18px;font-weight: bold;font-family: 'Open Sans Condensed', sans-serif;}
			.title-l6{color:#374a58;font-size: 16px;font-weight: bold ;font-family: 'Open Sans Condensed', sans-serif;}
			.title-l4{font-size: 14px; font-weight: normal;color:#060707; }
			.sub-title{background-color: #fff;color:#374a58;font-size: 14px;font-weight: bold;}

			input.quantity{width: 60px;border:1px solid #eaeaea;}
			.checked .checkbox, .selected .checkbox, .dialog .checked .checkbox, .dialog .selected .checkbox{
				border-color: #ea2626;
				background-color: #ea2626;
			}
			.checkbox {
				display: inline-block;
				cursor: pointer;
				width: 1.75rem;
				height: 1.75rem;
				line-height: 1.75rem;
				border: 1px solid #999;
				border-radius: 1px;
				text-align: center;
				background-color: #fff;
				font-size: 1.75rem;
				flex-shrink: 0;
				-ms-flex-negative: 0;
				-webkit-flex-shrink: 0;
			}
			.info span, .seatTypes .detailed {

				display: inline-block;
				border: 1px solid #ccc;
				border-radius: 100%;
				line-height: 1.75rem;
				background-color: #fff;
				color: #222427;
				height: 1.75rem;
				width: 1.75rem;
				text-align: center;
				cursor: pointer;
			}

			.options{margin-top: 20px}
			.options .opt{
				padding: .85714em .5rem;
				/*border-bottom: 1px solid #ccc;*/
			}
			#s_conf_submenu{
				box-sizing: border-box;
				width: 29%;
				left: 65.5%;
				top: 7.525rem;
				background: #374a58;
				position: fixed;
				height: 2.625rem;
				overflow: hidden;
				border-radius: .1875rem;
				z-index: 1;
			}
			div.flyout-label-value {
				font-size: 1.125rem;
				/*padding-top: .35rem;*/
			}
			#s_conf_submenu .flyout-label {
				font-size: .875rem;
				color: #fff;
				background-color: #374a58;
				padding: .5em 1rem;
				height: 2.625rem;
				box-sizing: border-box;
				cursor: pointer;
			}
			#s_conf_submenu .flyout-label {
				font-size: 0.875rem;
				color: #FFF;
				cursor: pointer;
			}
			.span-overview{

				font-weight: normal;
				color: #FFF;
				padding-right: 1rem;
				vertical-align: -5%;
				border-right: 1px solid #8D9198;
				margin-right: 1rem;
				padding-top: 0.25rem;
				padding-bottom: 0.25rem;			
			}

			.sticky-wrapper{width: 100%!important}
			.navbar-inverse{background-color: #374a58!important}
			.navbar-inverse .navbar-nav>li>a{color:#fff!important;}

			.float-right{float: right}
			.carousel-control.right{background:none;}
			.carousel-control.left{background:none;}
			.carousel-control:hover{color:#ea2626;}
			.carousel-control{text-shadow:none!important;}
			.item img{/*width: 80%!important;*/margin:0 auto !important;}

			#s_vis_separator {
				border-top: 1px solid #999;
				margin: 20px 2px;
			}
			#v-3d{display: inline-block}
			#s_visCntrl #vL_2D, #s_visCntrl #vL_3D {
				width: auto;
				font-size: 3.75rem;
				border: 0;
				border-radius: 0;
				overflow: hidden;
				margin-right: .3125rem;
				line-height: 2rem;
			}
			#s_visCntrl span{
				width: 88px;
				height: 30px;
				display:inline-block;

			}

			#s_visCntrl span.ctrls-3d{
				width: auto!important;
				height: auto!important;
				display: none!important;
			}

			.gray{color: #060707}
			/*span.delim{width: 2px!important; margin: 0px 5px}*/
			span.delim{font-family: "arial" !important;
			font-size: 1.125em;
			border: 0px none;
			line-height: 1.5em;
			color: #CCC;
			cursor: initial;
			display: inline-block;
			margin: 0px 1rem 0px 0.375rem;
			height: auto;
			width: 5px	!important}

/*--------------------------------------------------------------
	size - 1300px
--------------------------------------------------------------*/
	@media only screen and(min-width: 1001px){
	.menuItem.active:before {
		content: " ";
		height: 0px;
		width: 0px;
		position: absolute;
		pointer-events: none;
		left: 50%;
		border-color: transparent transparent #FFF;
		border-style: solid;
		border-width: 0.575em;
		bottom: -1px;
		margin-left: -0.575em;
		transition: all 0.4s linear 0s;
		z-index: 999
	}
	.item{min-height: 300px}



}
			@media only screen and (min-width: 1000px) and (max-width: 1300px){

				.summary #s_visCntrl ,.small-vis #s_visCntrl{text-align: center}
				.small-vis #v-3d,
				.small-vis #v-3d:hover,
				.small-vis span.views-ext,
				.small-vis span.views-int,
				.small-vis span.views-ext:hover, .small-vis span.views-ext.select-view,
				.small-vis span.views-int:hover, .small-vis span.views-int.select-view,
				.small-vis span.views-aerea:hover, .small-vis span.views-aerea.select-view{background-size: 60%;width: 22%!important}
				
				.summary #v-3d,
				.summary #v-3d:hover,
				.summary span.views-ext,
				.summary span.views-int,
				.summary span.views-ext:hover, .summary span.views-ext.select-view,
				.summary span.views-int:hover, .summary span.views-int.select-view,
				.summary span.views-aerea:hover, .summary span.views-aerea.select-view,{background-size: 60%;width: 25%!important}

				#switchSize {
					top: -3.5rem;
				}
				.summary #slide-container{margin-bottom: 20px}

				/*#slide-container{min-height:400px;}*/

				.header-yatch h1{
					font-size: 26px; color:#374a58!important;font-weight: bolder;/*padding-top: 1.25rem;*/
					padding-bottom: .5rem;
				}
				#s_vis.fixRatio {
					height: calc(100vh - 20rem);
					width: calc(177.778vh - 20rem * 1.77778);
					max-width: calc(100vw - 41.85vw);

					max-height: calc(56.25vw - 41.85vw * .5625);
					margin: auto;
					/*margin-bottom: 20px!important;*/

				}


				#s_vis.fixRatio {
					margin-top: 1rem;
				}
				#s_vis_separator {
					margin-top: 20px!important;
					margin-bottom: .375rem;
				}
				.small-vis #s_vis.fixRatio {
					height: calc(100vh - 23rem);
					width: calc(177.778vh - 23rem * 1.77778);
					max-width: calc(100vw - 71.5vw);
					max-height: calc(56.25vw - 71.5vw * 0.5625);
					margin: auto;
				}

				.small-vis #s_vis.fixRatio {
					margin-top: 1.75rem;

				}

/*			div.groupContainer {
			    position: relative;
			    line-height: 3.125em;
			    display: inline-block;
			    height: 3.125em!important;
			    text-align: center;
			    -webkit-transition: color .3s linear,background-color .3s linear;
			    -moz-transition: color .3s linear,background-color .3s linear;
			    -o-transition: color .3s linear,background-color .3s linear;
			    transition: color .3s linear,background-color .3s linear;
			    vertical-align: top;
			}


			.groupItem{
				display: block;
			    text-align: center;
			    padding: 0 1.4286em;
			    font-size: .875em;
			    color: #fff;
			    cursor: pointer;
			    -webkit-transition: color .3s linear,background-color .3s linear;
			    -moz-transition: color .3s linear,background-color .3s linear;
			    -o-transition: color .3s linear,background-color .3s linear;
			    transition: color .3s linear,background-color .3s linear;
			}
			.groupItem{
				padding: 0 .3125rem
			}

		    .groupItem:after{
		    	padding-left: 0;
			    line-height: 1.6em;
			    font-size: 1.5em;
			    border: 1px solid #666;
			    border-radius: 100%;
			    width: 1.5em;
			    height: 1.5em;
			    display: inline-block;
			    position: relative;
			    top: .2em;
			    -webkit-transition: background-color .3s linear;
			    -moz-transition: background-color .3s linear;
			    -o-transition: background-color .3s linear;
			    transition: background-color .3s linear;
			}
			*/
			


		/*	#navigation_contact>.groupContainer>.groupHeader {
			    position: relative;
			    right: 0;
			    display: block;
			    margin: 0 auto;
			    border-left: 1px solid #434547;
			    box-sizing: border-box;
			    background-color: #2a4b6d;
			    width: 100%;
			}

			#navigation_contact .groupContainer.open .groupItems {
			    display: inline-block;
			    padding-bottom: 0;
			    height: auto!important;
			    opacity: 1;
			    background-color: #222427;
			    flex-wrap: wrap;
			    -ms-flex-wrap: wrap;
			    -webkit-flex-wrap: wrap;
			    border-top: 1px solid #434547;
			}

			#navigation_contact .groupItems {
			    position: absolute;
			    top: 100%;
			    right: 0;
			    opacity: 0;
			    height: 0;
			    overflow: hidden;
			    display: flex;
			    display: -ms-flexbox;
			    display: -webkit-flex;
			    text-align: center;
			    -webkit-transition: opacity .3s linear;
			    -moz-transition: opacity .3s linear;
			    -o-transition: opacity .3s linear;
			    transition: opacity .3s linear;
			}

			.open .groupItems {
    			z-Index: 105;
			}
			*/


		}

		

		/*360*/

		#v-3d{background-image: url('../images/iconos/360-icon.png');background-repeat: no-repeat;background-position: center}
		#v-3d.selected,#v-3d:hover{background-image: url('../images/iconos/360-icon-hover.png');}

		span#views-aerial{
			background-image: url('../images/iconos/aereal-view-icon.png');background-repeat: no-repeat;background-position: center;
		}
		span#views-aerial:hover, span#views-aerial.select-view{
			background-image: url('../images/iconos/aereal-view-icon-hover.png');
		}
		span.views-int:hover, span.views-int.select-view{
			background-image: url('../images/iconos/exterior-view-icon-hover.png');
		}
		span.views-int{
			background-image: url('../images/iconos/exterior-view-icon.png');background-repeat: no-repeat;background-position: center;
		}
		

		span.views-int:hover, span.views-int.select-view{
			background-image: url('../images/iconos/exterior-view-icon-hover.png');
		}
		span.views-ext{
			background-image: url('../images/iconos/interior-view-icon.png');background-repeat: no-repeat;background-position: center;
		}
		span.views-ext:hover,span.views-ext.select-view {
			background-image: url('../images/iconos/interior-view-icon-hover.png');
		}
		.white{color:#fff;}
		.edit-item{border-radius: 100%;width: 30px;height:30px;margin-right: 0px!important}
		.tooltip-inner{z-index: 9999!important}
		#main{z-index: 2!important}
		.white-tooltip + .tooltip{display: block!important;z-index: 999!important}
		.white-tooltip + .tooltip > .tooltip-inner{
			background-color: white;
			color:#000;
			z-index: 99999!important;
			border:2px solid #f0f0f0;
			min-width:150px;
			opacity: 1!important;
		}
		.white-tooltip + .tooltip > .tooltip-arrow{
			/*background-color: white!important;*/
			border-bottom-color:white!important;
			font-weight: bold;
			font-size: 14px!important;
			color:white!important;
			border-top-color: #ececec!important;

		}

		.tooltip.in{z-index: 999;}
		.modal-header{
			color:#fff;    
			background-color: #71757e;
			border:none!important;
		}
		.modal-content{padding: 0px!important;border-radius: 0px!important}
		.summary .modal-content .contenedor{padding: 40px 13%!important}
		.contenedor{padding: 40px 13%!important}

		.modal-content:after,.modal-content:before{display: block;height: 1.5rem!important;}


		.header-text{
			color: #fff;
			font-size: 1.375rem;
			line-height: 1.75rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		a.navbar-brand{padding:15px 15px!important;}
		a.cursor:hover{color:#ea2626!important;}
		.navbar-inverse .navbar-brand{color: #fff!important}

		input[type="checkbox"] {
			display:none;
			appearance:none;
		}
		input[type="checkbox"] + label span {
			display:inline-block;
			width:19px;
			height:19px;
			margin:-1px 4px 0 0;
			vertical-align:middle;
			background-color: #eaeaea;
			cursor:pointer;
			border-radius:100%;

		}
		input[type="checkbox"] + label span.red {
			background-color: #ea2626;
			border:3px solid #ccc;

		}
		input[type="checkbox"]:checked + label span {
			background:#ff0000;
			border:3px solid #ccc;
		}
		input[type="checkbox"]:checked + label span.red {
			background:#ea2626;
			border:3px solid #ccc;
		}		
		.form-group img{margin-top: -15px!important; }
		
		.space-top{margin-top: 50px}
		.home #s_header{height: auto!important}


		.media{padding: 2px;}
		.media a{color:#060707!important;}
		.media:hover{border-left: 2px solid #f0f0f0;border-right: 2px solid #f0f0f0;border-top: 2px solid #f0f0f0;border-bottom: 2px solid red;padding: 0px}
		.space-20{margin: 20px 0px}

		/*summary*/

		.summary #s_header{height: auto!important}
		.main-title{font-size: 1.5rem; color:#374a58!important;padding-top: 1.25rem;padding-bottom: .5rem;position: fixed;left:5.5%;}
		
		
		.red{color: #ff0000}
		.header-summary{
			box-sizing: border-box;
			font-size: 1rem;
			margin-bottom: 1.875rem;
			width: 100%;}
			.btn-summary:hover{background-color: }
			.menu-summary{display: inline-block;width: 100%;}

			.menu-summary ul li{
				display: block;
				float: left;
				margin-bottom: .25em;
				margin-right: .25em;
				height: 2.5em;
			}
			.btn-code-log{background-color: }
			.title-code{color:#fff;position: absolute;bottom: 5%;left: 5%;z-index: 999;font-size: 2em;
				margin-top: .67em;
				margin-bottom: .67em;font-weight: bold}
				.menu-summary ul li a{
					color: #fff;
					cursor: pointer;
					display: block;
					font-size: .875em;
					line-height: 2.5rem;
					padding: 0 1.25rem;
					background: #374a58!important;
					border-radius: .1875rem;
					-webkit-transition: all .35s linear;
					-moz-transition: all .35s linear;
					-o-transition: all .35s linear;
					transition: all .35s linear;
					text-decoration: none!important;
				}


				.modal #btn-big-slide{display: none}
				div#btn-big-slide {
					position: absolute;
					right: 0.6875rem;
					bottom: 0.6875rem;
					cursor: pointer;
					font-size: 2.25rem;
					box-sizing: border-box;
					height: 1.5rem;
					width: 1.5rem;
					line-height: 2.25rem;
					display: block;
					text-align: center;
					color: #CCC;
					z-index: 2;
					background-image:url('../images/iconos/zoom-icon.png');
					background-position: center;
					background-size: cover;

				}
				#btn-big-slide:hover{background-image:url('../images/iconos/zoom-icon-hover.png');}
				.menu-summary li a:hover{
					background-color: #ea2626!important;
					text-decoration: none!important
				}
				.summary-config{
					display: inline-block;
					margin-top: .375em;
					width: 100%;
				}
				.summary-config li{
					display: block;
					float: left;
					height: 2.5em;
					margin-right: 2em;
					cursor: pointer;
				}
				.summary-config li a:hover, .summary-config li a:hover span{color:#ea2626!important;text-decoration: none!important}
				.summary-config li a{color:#060707; 
					-webkit-transition: all .35s linear;
					-moz-transition: all .35s linear;
					-o-transition: all .35s linear;
					transition: all .35s linear;
					font-size: 0.875em;}
					.summary-config li span{margin-right: 10px;color:#374a58;	-webkit-transition: all .35s linear;
						-moz-transition: all .35s linear;
						-o-transition: all .35s linear;
						transition: all .35s linear;}
						.color-container, .single-option{margin: 20px 0px;width: 100% }


						.single-item-color{display: table;}
						.single-item-color > span{margin-right: 20px}
						.single-item-color h2{display: table-cell;vertical-align: middle!important;}
						.options-container a.edit-item{margin-top: 17px!important}
						.btn-summary:hover{background-color: #ea2626!important}}
						.btn-summary{background-color: #ea2626!important;
							color: white;
						}
						.btn-primary{border:none!important;background-color: #ea2626!important}
						h2.code{font-size: 2rem;
							padding-top: 1.5rem;
							line-height: normal;
							font-weight: bold;
						}
						.summary .modal-header{
							color: #fff;
							font-size: 1.375rem;
							line-height: 1.75rem;

							overflow: hidden;
							text-overflow: ellipsis;
							-o-text-overflow: ellipsis;
							white-space: nowrap;
							padding: 20px 13%;
						}
						.summary .produc-detail .header-container, .summary .color-detail .header-container{padding: 0px!important;}
						.share{border-top: 1px solid #CCC;
							margin-top: 1.5rem;
							padding-top: 1rem;display: block}
							/*.modal-header{padding: 0px}*/
							h2.to-proceed{
								font-size: 16px;
								padding-bottom: 1.25rem;
								padding-top: 2.5rem;
								color:#374a58;
								font-weight: bold
							}
							.single-option img{display: inline-block;}
							.single-option {display: table}
							.single-option span{display: table-cell;vertical-align: middle}
							.single-option .border-gray{border:1px solid gray;}
							.modal-title{font-size: 1.375rem;}

							.edit-item{
								vertical-align: middle;
								display: table-cell;
								/*margin-left: 100px;*/
								float:right;
							}
							.edit-item span{padding:5px;border-radius: 100%;}
							.full-slide{
								background-image: url('../images/iconos/zoom-icon.png.png');
								width: 22px;
								height: 22px;
								z-index: 999;
	/*position: absolute;
	bottom: 0;right: 0;z-index: 99999*/
}
.btn-submit{background-color: #374a58;
	-webkit-transition: all .35s linear;
	-moz-transition: all .35s linear;
	-o-transition: all .35s linear;
	transition: all .35s linear;
	color:#fff;
}
.btn-submit:hover,.btn-submit:focus{
	background-color: #ea2626;
}
.home #navbar{display: none}
.space-section{margin:40px 0px;}
.form-code {margin-bottom: 30px}

input.submit-input{
	padding: 5px;
	font-size: 1.3em;
	line-height: 1.5em;
	height: 1.8em;
	color: #212121;
	background-position: left center;
	background-repeat: no-repeat;
	display: block;
}

.carousel-inner.showArrow .arrow, .carousel-inner.showArrow .arrow:hover{opacity: 1!important}
.arrow:hover{opacity: 1}
.modal-footer{text-align: left!important;background-color: #F5F5F5}
.modal-footer .btn-default{background-color: #DDD!important;color:#000!important;}



.small-vis #slide-container, .summary #slide-container{min-height: auto!important}

.produc-detail{min-height: 400px!important}
.footer-container, .header-container{padding: 0px 13%!important;}
.produc-detail .contenedor{padding: 0px 13%!important}
.btn-dealer{float: right;}


@media (min-width: 992px){
	.modal-lg {
		width: 1100px!important;
	}
	.summary #main{width: 29%!important;top:6.375rem;}
	.summary #s_conf{width: 59%!important; padding-top: 7.6875rem;margin-left:35.5%!important; padding-top: 60px!important;}
	.small-vis #slide-container{min-height: 200px}
	#slide-container {min-height: 300px}

	
}
.close{color:#fff!important;opacity: 1!important}
.summary .header-summary-mobile .groupItem span.circle{color:#000!important;}

.groupItem{display: inline-block;height: 100%}

.navigation_contact .groupItem span.circle{color:#fff;}

.groupItem span.circle{
				border: 1px solid grey;
				padding: 10px;
				border-radius: 100%;
				margin-top: 7px;
				-webkit-transition: background-color .3s linear;
				-moz-transition: background-color .3s linear;
				-o-transition: background-color .3s linear;
				transition: background-color .3s linear;
				cursor: pointer;

			}


	.groupItem span:hover{
		color:red!important;

	}
	.groupItem span, .groupItem span:before{

		-webkit-transition: all .3s linear;
		-moz-transition: all .3s linear;
		-o-transition: all .3s linear;
		transition: all .3s linear;
		font-size:11px;
	}

.at-share-btn span{background-color: grey!important}
@media only screen and (min-width: 1199px){
	

			
			
			.modal-load-code .modal-content .contenedor{padding: 40px 13%!important}
			.modal-save-code .modal-header,.modal-load-code .modal-header
			{
				color: #fff;
				font-size: 1.375rem;
				line-height: 1.75rem;
				overflow: hidden;
				text-overflow: ellipsis;
				-o-text-overflow: ellipsis;
				white-space: nowrap;
				padding: 20px 13%;
			}

			
			.dealer-menu{margin-left: 15px}


			#navigation_contact{
				position: absolute;
				right: 0;
				margin: 0;
				height: 50px;
				width: 5.5%;

			}

			#navigation_contact {
				display: block;
				box-sizing: border-box;
			}

			.navigation_contact>.mainGroup:after {
				content: "...";
				position: relative;
				top: -0.15em;
				padding: 0;
				color: #fff;
				font-size: 1.75em;
				line-height: 1em;
			}
			.navigation_contact.size-medium .mainGroup{
				display: block!important;
			}
			.navigation_contact.size-medium .itemsGroup{
				display: none;
			}
}

@media only screen and (min-width :1601px) {
	#main { 
		top:11.375rem
	}
	#s_vis.fixRatio {
		height:calc(100vh - 23.5rem);
		width:calc(177.778vh - 23.5rem * 1.77778);
		max-width:calc(100vw - 41.5vw);
		max-height:calc(56.25vw - 41.5vw * .5625)
	}
	.small-vis #s_vis.fixRatio {
		height:calc(100vh - 26.5rem);
		/*width:calc(177.778vh - 26.5rem * 1.77778);*/
		max-width:calc(100vw - 56.5vw);
		max-height:calc(56.25vw - 56.5vw * .5625)
	}
	#s_vis.fixRatio,.summary #s_vis.fixRatio {
		height:calc(100vh - 26.5rem);
		width:calc(177.778vh - 26.5rem * 1.77778);
		max-width:calc(100vw - 71.30vw);
		max-height:calc(56.25vw - 71.30vw * .5625)
	}
	#s_vis.fixRatio {
		height:auto;
		max-width:100%;
		max-height:100%;
		width:100%;
		margin:0;
		margin-left:auto
	}
	.small-vis #modelinfo .flyoutopener, #modelinfo .flyoutopener,.summary #modelinfo .flyoutopener,#modelinfo .flyoutopener {
		display:none
	}
	.small-vis #modelinfo .groupItems, #modelinfo .groupItems,.summary #modelinfo .groupItems,#modelinfo .groupItems {
		display:block
	}
}
.glyphicon-menu-down{margin-right: 10px}
#modelinfo a{cursor: pointer}
.controls-thresixty{margin-bottom: 20px}
.controls-thresixty a span{margin: 0px 5px}
.threesixty{margin:20px 0px;position: relative}
.threesixty_image span{margin:0px 5px;}
#s_share{border-top: 1px solid #CCC;
	margin-top: 1.5rem;
	padding-top: 1rem;}
	#s_share li {display: inline-block;}
	#s_share li:last-child{float: right;}

	.btn-included{display: none}
	.footer-container.selected .btn-included{display: block!important}
	.btn-add{display: block}
	.footer-container.selected .btn-add{display: none!important}
	.pull-right{margin-bottom: -2px}

	@media screen and (min-width:1914px) {

	}

	@media screen and (min-width:941px) {}



/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb 
  */
  .carousel-fade .carousel-inner .item {
  	opacity: 0;
  	transition-property: opacity;
  }

  .carousel-fade .carousel-inner .active {
  	opacity: 1;
  }

  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
  	left: 0;
  	opacity: 0;
  	z-index: 1;
  }

  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
  	opacity: 1;
  }

  .carousel-fade .carousel-control {
  	z-index: 2;
  }
  #s_visCntrl.v3d .single-views{display: none}
  	#s_visCntrl .ctrls-3d{display: none!important}
  	#s_visCntrl.v3d .ctrls-3d{
  		display: inline-block!important;
  	}
  	#s_visCntrl.v3d span.delim{display: none}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
  */
  @media all and (transform-3d), (-webkit-transform-3d) {
  	.carousel-fade .carousel-inner > .item.next,
  	.carousel-fade .carousel-inner > .item.active.right {
  		opacity: 0;
  		-webkit-transform: translate3d(0, 0, 0);
  		transform: translate3d(0, 0, 0);
  	}
  	.carousel-fade .carousel-inner > .item.prev,
  	.carousel-fade .carousel-inner > .item.active.left {
  		opacity: 0;
  		-webkit-transform: translate3d(0, 0, 0);
  		transform: translate3d(0, 0, 0);
  	}
  	.carousel-fade .carousel-inner > .item.next.left,
  	.carousel-fade .carousel-inner > .item.prev.right,
  	.carousel-fade .carousel-inner > .item.active {
  		opacity: 1;
  		-webkit-transform: translate3d(0, 0, 0);
  		transform: translate3d(0, 0, 0);
  	}

  	


  }
  @media screen and (max-width: 1199px){
  	.navigation_contact_mobile{
  		display: block;
  		position: absolute;
  		width: 5.5%;
  		top: 0;
  		right: 0;
  		text-align: center;
  		height: 50px;
  		color:#fff;
  		border-left: 1px solid grey;
  	}
  	.navigation_contact{
  		display: none!important;
  	}
  	.group
  	{
  		height: 100%;
  		display: table;
  		position: relative;
  		width: 100%
  	}

  	.group span{
  		display: table-cell;
  		vertical-align: middle;
  		cursor:pointer;
  		font-size:1.75em;

  	}
  	.itemsGroup-mobile{display: none}
  	.itemsGroup-mobile{
  		position: absolute;
  		top: 0;
  		margin-top: 50px;
  		right: 0;
  		width: 180px;
  		background-color: #374a58!important;
  		padding-top: 10px;
  		z-index: 9999!important;
  		border-top: 1px solid grey;



  	}
  	.navigation_contact_mobile:hover{
  		height: 51px!important
  	}
  	.navigation_contact_mobile:hover .itemsGroup-mobile{
  		display: block;

  	}
  	li.dealer-item{background-color: #ea2626!important;padding: 5px 0px}
  	li.dealer-item a:hover{text-decoration: none}
  	.contact-li{margin-top: 10px;}




  }
  @media screen and (min-width: 1200px){
  	.navigation_contact{
  		display: block!important;
  	}
  	.navigation_contact_mobile{
  		display: none!important;	
  	}	
  	.itemsGroup-mobile{
  		display: none;

  	}

  }
    @media screen and (min-width: 1500px){
		.header-yatch{margin: 3.5% 5.5%!important;}
    }

  @media screen and (min-width: 2500px){
  	.header-yatch{ margin: 3.5% 5.5%;}
  	div#btn-big-slide{right: 2.6875rem;}
  	.arrow.left{left: 2.5rem!important;}
  	.arrow.right{right: 2.5rem!important}
  }

	.less-width{
	width: 39%!important;
	max-width: 39%!important;
	margin-left: 50%!important;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;

	}
	#s_vis-summary{
		width: 100%;
		background-color: #fff;
		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		transition: all 0.3s linear;
	}
.red-li{background-color: #ea2626;color:#fff;margin-top: 10px}
.header-summary-mobile .groupItem span.circle{color:#fff!important;}
.absolute{position: absolute;top: 0;bottom: 0;display: block;}
.table{display: table;position: relative;}
.table-cell{display: table-cell;vertical-align: middle;}