@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?2af8qr');
	src:url('../fonts/icomoon.eot?2af8qr#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?2af8qr') format('truetype'),
		url('../fonts/icomoon.woff?2af8qr') format('woff'),
		url('../fonts/icomoon.svg?2af8qr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-instagram-with-circle:before {
	content: "\e902";
}
.icon-instagram:before {
	content: "\e903";
}
.icon-chevron-thin-down:before {
	content: "\e600";
}
.icon-mobile:before {
	content: "\e900";
}
.icon-facebook-with-circle:before {
	content: "\e615";
}
.icon-facebook:before {
	content: "\e616";
}
.icon-google-with-circle:before {
	content: "\e617";
}
.icon-google:before {
	content: "\e618";
}
.icon-add-circle-outline:before {
	content: "\e901";
}






*{
	font-family: 'Roboto', sans-serif;
}
html, body { width:100%;  overflow-x:hidden; }
html.hidden{
	display: block!important;
}








